<div class="session">
  <mat-card class="overflow-hidden">
    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100" class="bg-image bg-image-signup">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="h-100 py-3" >
          <div class="text-xs-center pb-1 mat-text-white">
            <div style="width: 100px;height: 20px;">
              <svg class="logo" preserveAspectRatio="xMidYMid meet" width="180" height="40" viewBox="0 0 180 40">
                <use xlink:href="#logo" />
              </svg>
            </div>
            <p class="mt-xs mb-0">An <em>Angular</em> <strong class="text-lg">Material 2</strong> Admin Template</p>
          </div>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100">
        <mat-card-content class="pa-3">
          <h1 class="mb-0">Signup</h1>
          <p class="mat-text-muted text-md mt-0 mb-2">Create an app id to continue.</p>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Email address" type="email" [formControl]="form.controls['email']">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">You must include an email address.</small>
                <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
              </div>
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput type="password" placeholder="Password" [formControl]="form.controls['password']">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">You must include password.</small>
              </div>
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="mat-text-warn">You must include confirm password.</small>
                <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="mat-text-warn">Passwords do not math.</small>
              </div>
              <div class="pb-1">
                <mat-checkbox>I have read and agree to the terms of service.</mat-checkbox>
              </div>
              <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid">Create your account</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/account/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/account/signin']">Access your account.</a>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>