<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Add Company User</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="checkEmail()" #companyUserForm="ngForm">
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" required>
            <mat-error>Please enter an email address.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="User type" formControlName="user_type">
              <mat-option *ngFor="let userType of userTypes;" [value]="userType._id">{{userType.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Invite</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
