<mat-card>
    <mat-toolbar>Import csv file</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="uploadFile()">
        <mat-card-content class="ma-1" style="display: flow-root;">
            <input type="file" formControlName="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
                   accept=".xlsx, .csv">
            <button mat-raised-button color="primary" type="submit" class="btn btn-info" style="float:right;">Upload
            </button>
        </mat-card-content>
    </form>
</mat-card>
