<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar>
      Create New User Type
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" (submit)="createNewUserType()">
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Title" type="text" formControlName="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company" required>
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Pleas e select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Key" type="number" formControlName="key" ngModel pattern="[0-9]">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button value="true">Enable</mat-radio-button>
              <mat-radio-button value="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>