<div fxFlex.gt.sm="100" fxFlex="100">
    <mat-card-content>
      <mat-toolbar>
        Cars Type List
        <div class="ml-1" style="display: inline-flex;">
          <mat-icon style="cursor: pointer;" id="createCompany" color="warn"
                    matTooltip="Create New Company" [routerLink]="['/types/cars-create']">add_box
          </mat-icon>
        </div>
      </mat-toolbar>

      <div *ngIf="cars.length > 0">
        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Car Title </mat-header-cell>
            <mat-cell *matCellDef="let element;">{{element.title}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dimension">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Dimension </mat-header-cell>
            <mat-cell *matCellDef="let element;">{{element.support[0].dimension[0].weight}}
              X {{element.support[0].dimension[0].long}}
              X {{element.support[0].dimension[0].height}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Car Number </mat-header-cell>
            <mat-cell *matCellDef="let element;">{{element.support[0].distances[0].number}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
            <mat-cell *matCellDef="let element;">{{element.support[0].distances[0].price}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" class="element">
              <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable">
                {{element.enable}}
              </mat-slide-toggle>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" class="element">
              <button mat-icon-button (click)="onSelect(i, $event)" disabled>
                <mat-icon id="editCarType" matTooltip="edit car type">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

        </mat-table>
      </div>

      <p class="info-text mat-body-1" *ngIf="cars.length == 0">
        No car type exist. Please create new car type.<br>
        <a [routerLink]="['/cars/cars-create']">
          <button mat-small mat-raised-button color="primary">
            Create New Car Type
            <mat-icon>add_box</mat-icon>
          </button>
        </a>
      </p>

    </mat-card-content>

</div>