<div fxFlex.gt.sm="100" fxFlex="100">

    <div *ngIf="products.length > 0">

        <mat-toolbar>
            Product List
            <div class="ml-1" style="display: inline-flex;">
                <mat-icon style="cursor: pointer;" id="createProduct" color="warn"
                          matTooltip="Create New Product" [routerLink]="['/product/product-create']">add_box
                </mat-icon>
            </div>
        </mat-toolbar>

        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                   No.
                </mat-header-cell>
                <mat-cell *matCellDef="let i = index;">
                    {{ i + 1 }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Product Image
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img src="{{element.image !== nullImage ? element.image: defaultImage}}">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="serial_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Serial Number
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.serial_product }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="productName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Product Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.title }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;" class="element">
                    <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable">
                        {{element.enable}}
                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Action
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">

                    <button mat-icon-button (click)="onSelect(i, $event)">
                        <mat-icon id="editProduct" matTooltip="Edit product information.">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" (click)="onSelect(i, $event)">
                        <mat-icon id="addPartner" matTooltip="Add partner">person_add</mat-icon>
                    </button>
                    <!--<button mat-icon-button color="warn" (click)="deleteProduct()">-->
                    <!--<mat-icon>delete_outline</mat-icon>-->
                    <!--</button>-->

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

        </mat-table>

    </div>

    <p class="info-text mat-body-1" *ngIf="products.length == 0">
        No product found. Please create new product.
        <br>
        <a [routerLink]="['/product/product-create']">
            <button mat-small mat-raised-button color="primary">
                Create New Product
                <mat-icon>add_box</mat-icon>
            </button>
        </a>
    </p>
</div>
