<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-toolbar>
    Company List
    <div class="ml-1" style="display: inline-flex;">
      <mat-icon style="cursor: pointer;" id="createCompany" color="warn"
                matTooltip="Create New Company" [routerLink]="['/company/company-create']">add_box
      </mat-icon>
    </div>
  </mat-toolbar>
  <div *ngIf="companies.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="element">
          <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable">
            {{element.enable}}
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" class="element">
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="editPartnerIcon" matTooltip="edit company info">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="seePartnerIcon" matTooltip="see partner">person</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="addPartnerIcon" matTooltip="add partner">person_add</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onSelect(i, $event)">
            <mat-icon id="companyMemberIcon" matTooltip="company member">group</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onSelect(i, $event)">
            <mat-icon id="addCompanyMemberIcon" matTooltip="add company member">group_add</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onSelect(i, $event)">
            <mat-icon id="seeWarehouse" matTooltip="see warehouse">store</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
    </mat-table>

      <!--<button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>-->

  </div>

  <p class="info-text mat-body-1" *ngIf="companies.length == 0">
    No company exist. Please create new company.<br>
    <a [routerLink]="['/company/company-create']">
      <button mat-small mat-raised-button color="primary">
        Create New Company
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>

</div>
