<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Product</mat-toolbar>

    <form [formGroup]="form" (submit)="updateProduct()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Product Serial Number" type="number" formControlName="serial_product">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company" (change)="pickedCompany($event.value)" required>
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Partner" formControlName="partner" [required]="form.get('company').value">
              <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                {{ partner.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company first.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Product Name" type="text" formControlName="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Product Type" formControlName="type" required>
              <mat-option *ngFor="let type of types;" [value]="type._id">
                {{ type.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select product type.</mat-error>
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button value="1">Enable</mat-radio-button>
              <mat-radio-button value="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <img mat-card-sm-image src="{{image !== '' ? image: defaultImage}}" [alt]="form.value.username">
          <input type="file" (change)="onImagePicked($event)" name="image">

          <button mat-raised-button color="primary" type="submit">Submit</button>

        </div>
      </mat-card-content>
    </form>

  </mat-card>
</div>
