<div fxFlex.gt.sm="100" fxFlex="100">

  <div *ngIf="storeProducts.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Company
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.company.title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Warehouse
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.warehouse.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serial_product">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Partner
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.partner.import.title}}
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="actions">-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header>-->
          <!--Action-->
        <!--</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let row; let i = index" id="actionsIcon">-->
          <!--<button mat-icon-button (click)="pickedStoreProduct(i)">-->
            <!--<mat-icon>import_export</mat-icon>-->
          <!--</button>-->
        <!--</mat-cell>-->
      <!--</ng-container>-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

    <div class="ma-1">
      <a [routerLink]="['/store-products/store-product-create']" *ngIf="storeProducts.length > 0">
        <button mat-raised-button color="primary">Add Store Product
          <mat-icon>add_box</mat-icon>
        </button>
      </a>
    </div>

  </div>

  <p class="info-text mat-body-1" *ngIf="storeProducts.length == 0">
    <a [routerLink]="['/store-products/store-product-create']">
      <button mat-small mat-raised-button color="primary">
        Create Store Product
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>

</div>
