<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card-content>
    <mat-toolbar>
      Promotion List
      <div class="ml-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="createPromotion" color="warn"
                  matTooltip="Create New Promotion" [routerLink]="['/promotions/promotions-create']">add_box
        </mat-icon>
      </div>
    </mat-toolbar>

    <div *ngIf="promotions.length > 0">
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion Title </mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="promotion_start">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion Start </mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.promote_start}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="promotion_end">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion End</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.promote_end}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="usage_start">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Usage Start </mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.usage.start}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="usage_end">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Usage End </mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.usage.end}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="discount_minimum">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Discount Minimum Piece</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.discount.minimum_piece}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="discount_minimum_total">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Discount Minimum total </mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.discount.minimum_total}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="discount_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Discount Price</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.discount.price}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="discount_rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Discount Rate</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.discount.rate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="items">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Items</mat-header-cell>
          <mat-cell *matCellDef="let element;">{{element.items}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;" class="element">
            <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable">
              {{element.enable}}
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;" class="element">
            <button mat-icon-button (click)="onSelect(i, $event)" disabled>
              <mat-icon id="editCarType" matTooltip="edit car type">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

      </mat-table>
    </div>

    <p class="info-text mat-body-1" *ngIf="promotions.length == 0">
      No promotion exist. Please create new promotion.<br>
      <a [routerLink]="['/promotions/promotions-create']">
        <button mat-small mat-raised-button color="primary">
          Create New Promotion
          <mat-icon>add_box</mat-icon>
        </button>
      </a>
    </p>

  </mat-card-content>

</div>