<div fxFlex.gt.sm="100" fxFlex="100">
    <div *ngIf="productTypes.length > 0">

        <mat-toolbar>
            Product Type List
            <div class="ml-1" style="display: inline-flex;">
                <mat-icon style="cursor: pointer;" id="createProductType" color="warn"
                          matTooltip="Create New Product Type" [routerLink]="['/product/product-type-create']">
                    add_box
                </mat-icon>
            </div>
        </mat-toolbar>

        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    No.
                </mat-header-cell>
                <mat-cell *matCellDef="let i = index;">
                    {{ i + 1 }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="productTypeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Product Type Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.title }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;" class="element">
                    <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable" disabled>
                        {{element.enable}}
                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Action
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
                    <button mat-icon-button (click)="editProductType(i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!--<button mat-icon-button color="warn">-->
                    <!--<mat-icon>delete_outline</mat-icon>-->
                    <!--</button>-->
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

        </mat-table>
    </div>
    <p class="info-text mat-body-1" *ngIf="productTypes.length == 0">
        No product type exist. Please create new product type.<br>
        <a [routerLink]="['/product/product-type-create']">
            <button mat-small mat-raised-button color="primary">
                Create New Product Type
                <mat-icon>add_box</mat-icon>
            </button>
        </a>
    </p>

</div>
