<div fxFlex.gt.sm="100" fxFlex="100">
  <div>
    <mat-toolbar>Import Product Table</mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Warehouse</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field id="warehouseSelection">
            <mat-select (change)="pickedWarehouse($event.value)">
              <mat-option *ngFor="let warehouse of warehouses; let i = index;" [value]="i">
                {{ warehouse.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--<div style="display: none;">{{ selectedWarehouse }}</div>-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Product</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field id="productSelection">
            <mat-select (change)="pickedProduct($event.value)" required>
              <mat-option *ngFor="let product of products; let i = index;" [value]="i">
                {{ product.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select warehouse and product.</mat-error>
          </mat-form-field>
          <!--<div *ngIf="isClicked === true">{{ selectedProduct }}</div>-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <button mat-icon-button color="warn" (click)="removeRow(i)" *ngIf="i > 0">
            <mat-icon matTooltip="Remove">clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div style="float: right;" class="ma-2">
      <button mat-raised-button class="mr-2" (click)="addRow()">Add more</button>
      <button mat-raised-button class="mr-2" (click)="importAll()">Import All</button>
    </div>

  </div>
</div>
