$mat-toolbar-height-desktop: 56px;
$mat-toolbar-height-mobile-portrait: 56px;
$mat-toolbar-height-mobile-landscape: 48px;

/* $header
 ------------------------------------------*/
.mat-menu-panel.notifications {
  max-width: 400px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  .mat-toolbar,
  .mat-toolbar-row {
    font-size: 1rem;
    min-height: $mat-toolbar-height-desktop;
    height: $mat-toolbar-height-desktop;
  }
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0;
  }
  .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: block;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    flex: 1;
  }
  .notifications-inner {
    position: relative;
    height: 344px;
  }
}

mat-toolbar {
  .toolbar-avatar {
    width: 40px;
    height: 40px;
    line-height: 24px;
    display: block;
  }
  .toolbar-avatar img{
    width: 40px;
    border-radius: 50%;
  }
  .notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: mat-color($warn);
    border: 4px solid mat-color($warn);
    color: white;
    text-align: center;
  }
  &.main-header {
    padding: 0 8px;
    position: relative;
    background-color: white;
    z-index: 9;
    min-height: $mat-toolbar-height-desktop;
    height: $mat-toolbar-height-desktop;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    > .mat-button,
    > .mat-icon-button:not(.header-avatar) {
      opacity: .7;
    }

    .branding {
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: auto 0;
      line-height: 50px;
      padding: 0 64px 0 16px;
      width: 100px;
      height: 20px;
      > svg {
        display: block;
        width:100%;
        height: auto;
      }
    }
    .search-bar {
      .search-form {
        position: relative;
        margin-right: $spacer;
        display: block;
        max-width: 800px;
        input {
          font-size: .9rem;
          padding: .6rem 0;
          z-index: 2;
          cursor: text;
          text-indent: 45px;
          border: none;
          background: transparent;
          width: 100%;
          outline: 0;
          border-radius: 2px;
          background: mat-color($background, 'hover');
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.13), 0 2px 4px rgba(0, 0, 0, 0.05);
          &:focus {
            background: lighten($color: mat-color($background, 'hover'), $amount: 40);
          }
        }
        .mat-icon {
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -12px;
          opacity: .7;
        }
      }
    }
  }
}

// Specific height for mobile devices in portrait mode.
@media ($mat-xsmall) and (orientation: portrait) {
  mat-toolbar.main-header .branding {
    padding: 0 16px 0 16px;
  }
}

[dir="rtl"] {
  .main-header {
    .branding {
      padding: 0 16px 0 64px;
    }
    .search-bar .search-form .mat-icon {
      left: auto;
      right: 10px;
    }
  }
}