<mat-card id="main" class="row">
    <div class="column">
        <mat-card>
            <mat-toolbar class="text-base">
                Create New Warehouse
            </mat-toolbar>
            <mat-card-content>
                <form [formGroup]="form" (submit)="createWarehouse()">
                    <div class="form-group" fxLayout="column" fxLayoutGap="25px">
                        <mat-form-field>
                            <input matInput placeholder="Warehouse Name" type="text" formControlName="title">
                            <mat-error>Please fill in warehouse title.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Warehouse Address" type="text" formControlName="address">
                            <mat-error>Please fill in warehouse address.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="District" type="text" formControlName="district">
                            <mat-error>Please fill in warehouse district.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Sub District" type="text" formControlName="sub_district">
                            <mat-error>Please fill in warehouse sub district.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Location" type="text" formControlName="poi">
                            <mat-error>Latitude and Longitude</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column">
        <mat-card>
            <mat-toolbar class="text-base">
                Warehouse Location
            </mat-toolbar>
            <app-map style="height: 357px"></app-map>
        </mat-card>
    </div>
    <div fxFlex></div>

    <mat-toolbar>เลือกจังหวัดที่รับผิดชอบ</mat-toolbar>
    <mat-table #table>

        <ng-container matColumnDef="province">
            <mat-header-cell mat-header-cell *matHeaderCellDef> จังหวัด </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-select>
                        <mat-option *ngFor="let province of provinces; let i = index;" [value]="i">
                            {{ province.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell mat-header-cell *matHeaderCellDef> รายละเอียด </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input matInput placeholder="Description" type="text">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ลบ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">
                <button mat-icon-button color="warn" *ngIf="i > 0">
                    <mat-icon matTooltip="Remove">ลบ</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

    </mat-table>

    <mat-card-actions align="end">
        <button mat-flat-button color="warn">Cancel</button>
        <button mat-flat-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
</mat-card>