<div fxFlex.gt.sm="100" fxFlex="100">
  <!--<mat-toolbar style="color: red;">{{companyName}}</mat-toolbar>-->
<!--<br>-->
  <div *ngFor="let wh of whList" class="mb-2">
    <mat-toolbar>
      {{wh.data[0].warehouse.title}}
      <div class="ml-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="importProduct" color="warn"
                  matTooltip="Import Product" >add_box
        </mat-icon>
      </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="wh" matSort>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serial_product">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Serial_product
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.serial_product}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product_title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.type.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product_volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Volume
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.total}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remain">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Remain
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.remain}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Export
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
          <button mat-icon-button>
            <mat-icon matTooltip="export">import_export</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>
  </div>
</div>
