<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Company</mat-toolbar>
      <form [formGroup]="form" (ngSubmit)="onCreateCompany()" #companyForm="ngForm">
        <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Title" type="text" formControlName="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <!--<mat-label style="color: #e74c3c">Contact</mat-label>-->

          <mat-form-field>
            <input matInput placeholder="Address" type="text" formControlName="address">
          </mat-form-field>

          <a [routerLink]="['/map']" style="color: red;">Choose location*</a>

          <mat-form-field>
            <input matInput placeholder="Latitude" type="text" formControlName="lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitude" type="text" formControlName="long">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone Number" type="text" formControlName="telephone" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Line" type="text" formControlName="line">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Facebook" type="text" formControlName="facebook">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Website" type="text" formControlName="website">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button value="true">Enable</mat-radio-button>
              <mat-radio-button value="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>

    </mat-card-content>
    </form>
  </mat-card>
</div>
