<div fxLayout="row wrap">
  <div fxFlex.gt-xs="30" fxFlex="100" class="pb-3">
    <mat-card class="shadow-none">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>Chart type</mat-expansion-panel-header>

          <mat-form-field>
            <mat-select placeholder="Chart Type" [ngModel]="chartType" (ngModelChange)="selectChart($event)">
              <mat-optgroup *ngFor="let group of chartGroups" [label]="group.name">
                <mat-option *ngFor="let chart of group.charts" [value]="chart.selector">
                  {{chart.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Data</mat-expansion-panel-header>
          <div class="mat-blue-grey mat-text-white pa-xs">
            <pre *ngIf="chart.inputFormat === 'singleSeries'">{{single | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'multiSeries' && !linearScale">{{multi | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'multiSeries' && linearScale && (!range)">{{dateData | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'multiSeries' && linearScale && range">{{dateDataWithRange | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'bubble'">{{bubble | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'comboChart'">{{barChart | json}}</pre>
            <pre *ngIf="chart.inputFormat === 'comboChart'">{{lineChartSeries | json}}</pre>
          </div>

          <mat-checkbox [checked]="realTimeData" (change)="realTimeData = $event.target.checked">
            Real-time
          </mat-checkbox>

          <div *ngIf="chartType === 'line-chart'">
            <br />
            <mat-checkbox [checked]="range" (change)="range = $event.target.checked">
              Show min and max values
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Dimensions</mat-expansion-panel-header>

          <mat-checkbox [checked]="fitContainer" [(ngModel)]="fitContainer" (change)="toggleFitContainer(fitContainer)">
            Fit Container
          </mat-checkbox>

          <div class="mt-2" *ngIf="!fitContainer">
            <mat-form-field>
              <input matInput placeholder="Width" type="number" [(ngModel)]="width">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Height" type="number" [(ngModel)]="height">
            </mat-form-field>

            <br />
            <button mat-raised-button (click)="applyDimensions()">Apply dimensions</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Color scheme</mat-expansion-panel-header>

          <mat-form-field>
            <mat-select placeholder="Color scheme" [(ngModel)]="selectedColorScheme" (ngModelChange)="setColorScheme($event)">
              <mat-option *ngFor="let scheme of colorSets" [value]="scheme.name">
                {{scheme.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="chart.options.includes('schemeType')">
            <mat-select placeholder="Color scheme" [(ngModel)]="schemeType" (ngModelChange)="schemeType = $event">
              <mat-option value="ordinal">Ordinal</mat-option>
              <mat-option value="linear">Linear</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Range fill color opacity (0.0 - 1.0)" type="number" [(ngModel)]="rangeFillOpacity">
          </mat-form-field>

        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Options</mat-expansion-panel-header>

          <div *ngIf="chart.options.includes('animations')">
            <mat-checkbox [checked]="animations" (change)="animations = $event.checked">
              Animations
            </mat-checkbox>
          </div>

          <div *ngIf="chart.options.includes('showXAxis')">
            <mat-checkbox [checked]="showXAxis" (change)="showXAxis = $event.checked">
              Show X Axis
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showRefLabels')">
            <mat-checkbox [checked]="showRefLabels" (change)="showRefLabels = $event.checked">
              Show Reference Labels
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showRefLines')">
            <mat-checkbox [checked]="showRefLines" (change)="showRefLines = $event.checked">
              Show Reference Lines
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showYAxis')">
            <mat-checkbox [checked]="showYAxis" (change)="showYAxis = $event.checked">
              Show Y Axis
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showGridLines')">
            <mat-checkbox [checked]="showGridLines" (change)="showGridLines = $event.checked">
              Show Grid Lines
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('roundDomains')">
            <mat-checkbox [checked]="roundDomains" (change)="roundDomains = $event.checked">
              Round Domains
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('gradient')">
            <mat-checkbox [checked]="gradient" (change)="gradient = $event.checked">
              Use Gradients
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showLegend')">
            <mat-checkbox [checked]="showLegend" (change)="showLegend = $event.checked">
              Show Legend
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('roundEdges')">
            <mat-checkbox [checked]="roundEdges" (change)="roundEdges = $event.checked">
              Round Bar Edges
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('legendTitle')">
            <mat-form-field>
              <input matInput placeholder="Legend Title" type="text" [(ngModel)]="legendTitle">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('tooltipDisabled')">
            <mat-checkbox [checked]="tooltipDisabled" (change)="tooltipDisabled = $event.checked">
              Disable tooltip
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('showXAxisLabel')">
            <mat-checkbox [checked]="showXAxisLabel" (change)="showXAxisLabel = $event.checked">
              Show X Axis Label
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('xAxisLabel')">
            <mat-form-field>
              <input matInput placeholder="X Axis Label" type="text" [(ngModel)]="xAxisLabel">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('showYAxisLabel')">
            <mat-checkbox [checked]="showYAxisLabel" (change)="showYAxisLabel = $event.checked">
              Show Y Axis Label
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('yAxisLabel')">
            <mat-form-field>
              <input matInput placeholder="Y Axis Label" type="text" [(ngModel)]="yAxisLabel">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('showLabels')">
            <mat-checkbox [checked]="showLabels" (change)="showLabels = $event.checked">
              Show Labels
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('doughnut')">
            <mat-checkbox [checked]="doughnut" (change)="doughnut = $event.checked">
              Doughnut
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('arcWidth') && doughnut">
            <mat-form-field>
              <input matInput placeholder="Arc width (fraction of radius)" type="number" [disabled]="!doughnut" [(ngModel)]="arcWidth" max="1" min="0" step="0.01">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('explodeSlices') && !doughnut">
            <mat-checkbox [checked]="explodeSlices" (change)="explodeSlices = $event.checked">
              Explode Slices
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('autoScale')">
            <mat-checkbox [checked]="autoScale" (change)="autoScale = $event.checked">
              Auto Scale
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('timeline')">
            <mat-checkbox [checked]="timeline" (change)="timeline = $event.checked">
              Timeline
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('curve')">
            <mat-form-field>
              <mat-select placeholder="Line Interpolation" [(ngModel)]="curveType"
              (ngModelChange)="curve = getInterpolationType($event)">
                <mat-option *ngFor="let interpolationType of interpolationTypes" [value]="interpolationType">
                  {{interpolationType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('curveClosed')">
            <mat-form-field>
              <mat-select placeholder="Line Interpolation" [(ngModel)]="closedCurveType"
              (ngModelChange)="closedCurve = getInterpolationType($event)">
              <mat-option *ngFor="let interpolationType of closedInterpolationTypes" [value]="interpolationType">
                  {{interpolationType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('min')">
            <mat-form-field>
              <input matInput placeholder="Min value" type="number" [(ngModel)]="gaugeMin">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('max')">
            <mat-form-field>
              <input matInput placeholder="Max value" type="number" [(ngModel)]="gaugeMax">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('innerPadding')">
            <mat-form-field>
              <input matInput placeholder="Inner padding" [(ngModel)]="innerPadding" min="0" step="1">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('barPadding')">
            <mat-form-field>
              <input matInput placeholder="Padding between bars" type="number" [(ngModel)]="barPadding" min="0" step="1">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('groupPadding')">
            <mat-form-field>
              <input matInput placeholder="Padding between groups" type="number" [(ngModel)]="groupPadding" min="0" step="1">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('value')">
            <mat-form-field>
              <input matInput placeholder="Value" type="number" [(ngModel)]="gaugeValue">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('previousValue')">
            <mat-form-field>
              <input matInput placeholder="Previous value" type="number" [(ngModel)]="gaugePreviousValue">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('angleSpan')">
            <mat-form-field>
              <input matInput placeholder="Angle span" type="number" [(ngModel)]="gaugeAngleSpan">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('startAngle')">
            <mat-form-field>
              <input matInput placeholder="Start Angle" type="number" [(ngModel)]="gaugeStartAngle">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('showAxis')">
            <mat-checkbox [checked]="gaugeShowAxis" (change)="gaugeShowAxis = $event.checked">
              Show Axis
            </mat-checkbox>
          </div>
          <div *ngIf="chart.options.includes('largeSegments')">
            <mat-form-field>
              <input matInput placeholder="Number of large segments" type="number" [(ngModel)]="gaugeLargeSegments">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('smallSegments')">
            <mat-form-field>
              <input matInput placeholder="Number of small segments" type="number" [(ngModel)]="gaugeSmallSegments">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('units')">
            <mat-form-field>
              <input matInput placeholder="Units" type="text" [(ngModel)]="gaugeUnits">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('margin')">
            <mat-checkbox [checked]="margin" (change)="margin = $event.checked">
              Show Margin
            </mat-checkbox>
          </div>

          <div *ngIf="chart.options.includes('margin') && margin">
            <mat-form-field>
              <input matInput placeholder="Top" type="number" [(ngModel)]="marginTop">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Right" type="number" [(ngModel)]="marginRight">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Bottom" type="number" [(ngModel)]="marginBottom">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Left" type="number" [(ngModel)]="marginLeft">
            </mat-form-field>
          </div>

          <div *ngIf="chart.options.includes('minRadius')">
            <mat-form-field>
              <input matInput placeholder="Minimum Radius" type="number" [(ngModel)]="minRadius">
            </mat-form-field>
          </div>

          <div *ngIf="chart.options.includes('maxRadius')">
            <mat-form-field>
              <input matInput placeholder="Maximum Radius" type="number" [(ngModel)]="maxRadius">
            </mat-form-field>
          </div>

          <div *ngIf="chart.options.includes('xScaleMin')">
            <div *ngIf="chartType !== 'bubble-chart'">
              <label></label>
              <mat-form-field>
                <input matInput [matDatepicker]="minDatePicker" [(ngModel)]="xScaleMin" placeholder="Minimum X-Scale value">
                <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #minDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="chartType === 'bubble-chart'">
              <mat-form-field>
                <input matInput placeholder="Minimum X-Scale value" type="number" [(ngModel)]="xScaleMin">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="chart.options.includes('xScaleMax')">
            <div *ngIf="!chartType.startsWith('bar-horizontal') && chartType !== 'bubble-chart'">
              <mat-form-field *ngIf="!chartType.startsWith('bar-horizontal')">
                <input matInput [matDatepicker]="maxDatePicker" [(ngModel)]="xScaleMax" placeholder="Maximum X-Scale value">
                <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #maxDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="chartType.startsWith('bar-horizontal') || chartType === 'bubble-chart'">
              <mat-form-field>
                <input matInput placeholder="Maximum X-Scale value" type="number" [(ngModel)]="xScaleMax">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="chart.options.includes('yScaleMin')">
            <mat-form-field>
              <input matInput placeholder="Minimum Y-Scale value" type="number" [(ngModel)]="yScaleMin">
            </mat-form-field>
          </div>
          <div *ngIf="chart.options.includes('yScaleMax')">
            <mat-form-field>
              <input matInput placeholder="Maximum Y-Scale value" type="number" [(ngModel)]="yScaleMax">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="70" fxFlex="100">
    <mat-card>
      <mat-toolbar class="text-base">{{chart.name}}</mat-toolbar>
      <mat-card-content>
        <div>
          <ngx-charts-bar-vertical
            *ngIf="chartType === 'bar-vertical'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [results]="single"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            [roundEdges]="roundEdges"
            [yScaleMax]="yScaleMax"
            (select)="select($event)"
            (legendLabelClick)="onLegendLabelClick($event)">
          </ngx-charts-bar-vertical>
          <ngx-charts-bar-horizontal
            *ngIf="chartType === 'bar-horizontal'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="single"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            [roundEdges]="roundEdges"
            [xScaleMax]="xScaleMax"
            (legendLabelClick)="onLegendLabelClick($event)"
            (select)="select($event)">
          </ngx-charts-bar-horizontal>
          <ngx-charts-bar-vertical-2d
            *ngIf="chartType === 'bar-vertical-2d'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [groupPadding]="groupPadding"
            [roundDomains]="roundDomains"
            [roundEdges]="roundEdges"
            [yScaleMax]="yScaleMax"
            (select)="select($event)">
          </ngx-charts-bar-vertical-2d>
          <ngx-charts-bar-horizontal-2d
            *ngIf="chartType === 'bar-horizontal-2d'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [groupPadding]="groupPadding"
            [roundDomains]="roundDomains"
            [roundEdges]="roundEdges"
            [xScaleMax]="xScaleMax"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-2d>
          <ngx-charts-bar-vertical-stacked
            *ngIf="chartType === 'bar-vertical-stacked'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            [yScaleMax]="yScaleMax"
            (select)="select($event)">
          </ngx-charts-bar-vertical-stacked>
          <ngx-charts-bar-horizontal-stacked
            *ngIf="chartType === 'bar-horizontal-stacked'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            [xScaleMax]="xScaleMax"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-stacked>
          <ngx-charts-bar-vertical-normalized
            *ngIf="chartType === 'bar-vertical-normalized'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-vertical-normalized>
          <ngx-charts-bar-horizontal-normalized
            *ngIf="chartType === 'bar-horizontal-normalized'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-normalized>
          <ngx-charts-pie-chart
            *ngIf="chartType === 'pie-chart'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [explodeSlices]="explodeSlices"
            [labels]="showLabels"
            [doughnut]="doughnut"
            [arcWidth]="arcWidth"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipText]="pieTooltipText"
            (select)="select($event)">
          </ngx-charts-pie-chart>
          <ngx-charts-advanced-pie-chart
            *ngIf="chartType === 'advanced-pie-chart'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [animations]="animations"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipText]="pieTooltipText"
            (select)="select($event)">
          </ngx-charts-advanced-pie-chart>
          <ngx-charts-pie-grid
            *ngIf="chartType === 'pie-grid'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            (legendLabelClick)="onLegendLabelClick($event)"
            [results]="single"
            [animations]="animations"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipText]="pieTooltipText"
            (select)="select($event)">
          </ngx-charts-pie-grid>
          <ngx-charts-line-chart
            *ngIf="chartType === 'line-chart'"
            [view]="view"
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateDataWithOrWithoutRange"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [xScaleMin]="xScaleMin"
            [xScaleMax]="xScaleMax"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [curve]="curve"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-line-chart>
          <ngx-charts-polar-chart
            *ngIf="chartType === 'polar-chart'"
            [view]="view"
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [showGridLines]="showGridLines"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            [showSeriesOnHover]="showSeriesOnHover"
            [curve]="closedCurve"
            (select)="select($event)">
          </ngx-charts-polar-chart>
          <ngx-charts-bubble-chart
            *ngIf="chartType === 'bubble-chart'"
            [view]="view"
            class="chart-container"
            [results]="bubble"
            [animations]="animations"
            [showGridLines]="showGridLines"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [xScaleMin]="xScaleMin"
            [xScaleMax]="xScaleMax"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            [minRadius]="minRadius"
            [maxRadius]="maxRadius">
          </ngx-charts-bubble-chart>
          <ngx-charts-force-directed-graph
            *ngIf="chartType === 'force-directed-graph'"
            class="chart-container"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [links]="graph.links"
            [animations]="animations"
            (legendLabelClick)="onLegendLabelClick($event)"
            [nodes]="graph.nodes"
            [scheme]="colorScheme"
            [view]="view"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-force-directed-graph>
          <ngx-charts-area-chart
            *ngIf="chartType === 'area-chart'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateData"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [xScaleMin]="xScaleMin"
            [xScaleMax]="xScaleMax"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [roundDomains]="roundDomains"
            [curve]="curve"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-area-chart>
          <ngx-charts-area-chart-stacked
            *ngIf="chartType === 'area-chart-stacked'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateData"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [xScaleMin]="xScaleMin"
            [xScaleMax]="xScaleMax"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [showGridLines]="showGridLines"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            [curve]="curve"
            (select)="select($event)">
          </ngx-charts-area-chart-stacked>
          <ngx-charts-area-chart-normalized
            *ngIf="chartType === 'area-chart-normalized'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateData"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            (legendLabelClick)="onLegendLabelClick($event)"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            [curve]="curve"
            (select)="select($event)">
          </ngx-charts-area-chart-normalized>
          <combo-chart-component
            *ngIf="chartType === 'combo-chart'"
            class="chart-container"
            [view]="view"
            [scheme]="comboBarScheme"
            [colorSchemeLine]="lineChartScheme"
            [results]="barChart"
            [animations]="animations"
            [lineChart]="lineChartSeries"
            [tooltipDisabled]="tooltipDisabled"
            [yAxisTickFormatting]="yLeftTickFormat"
            [yLeftAxisScaleFactor]="yLeftAxisScale"
            [yRightAxisScaleFactor]="yRightAxisScale"
            [yRightAxisTickFormatting]="yRightTickFormat"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showGridLines]="showGridLines"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [showRightYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisLabelRight]="yAxisLabelRight"
            (select)="onSelect($event)">
          </combo-chart-component>
          <ngx-charts-heat-map
            *ngIf="chartType === 'heat-map'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [animations]="animations"
            [legend]="showLegend"
            [gradient]="gradient"
            (legendLabelClick)="onLegendLabelClick($event)"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [innerPadding]="innerPadding"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-heat-map>
          <ngx-charts-heat-map
            *ngIf="chartType === 'calendar'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [results]="calendarData"
            [animations]="animations"
            [legend]="showLegend"
            [gradient]="gradient"
            (legendLabelClick)="onLegendLabelClick($event)"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [xAxisTickFormatting]="calendarAxisTickFormatting"
            [tooltipText]="calendarTooltipText"
            [innerPadding]="innerPadding"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-heat-map>
          <ngx-charts-tree-map
            *ngIf="chartType === 'tree-map'"
            class="chart-container"
            [view]="view"
            (legendLabelClick)="onLegendLabelClick($event)"
            [scheme]="colorScheme"
            [results]="single"
            [animations]="animations"
            [tooltipDisabled]="tooltipDisabled"
            [labelFormatting]="gdpLabelFormatting"
            [valueFormatting]="currencyFormatting"
            [gradient]="gradient"
            (select)="select($event)">
          </ngx-charts-tree-map>
          <ngx-charts-number-card
            *ngIf="chartType === 'number-card'"
            class="chart-container"
            [view]="view"
            (legendLabelClick)="onLegendLabelClick($event)"
            [scheme]="colorScheme"
            cardColor="#232837"
            emptyColor="#1e222e"
            [results]="single"
            [animations]="animations"
            (select)="select($event)">
          </ngx-charts-number-card>
          <div *ngIf="chartType === 'status-demo'">
            <mat-slider
              [(ngModel)]="salePrice"
              [step]="100"
              [min]="0"
              [max]="10000"
              (change)="statusData = calcStatusData()">
            </mat-slider>
            Price: ${{salePrice}}
            <br />
            <mat-slider
              [(ngModel)]="personnelCost"
              [step]="100"
              [min]="0"
              [max]="10000"
              (change)="statusData = calcStatusData()">
            </mat-slider>
            Cost: ${{personnelCost}} / hr
            <ngx-charts-number-card
              class="chart-container"
              [view]="view"
              (legendLabelClick)="onLegendLabelClick($event)"
              [scheme]="colorScheme"
              cardColor="#232837"
              emptyColor="#1e222e"
              [results]="statusData"
              [animations]="animations"
              [valueFormatting]="statusValueFormat"
              [labelFormatting]="statusLabelFormat">
            </ngx-charts-number-card>
          </div>
          <ngx-charts-gauge
            *ngIf="chartType === 'gauge'"
            class="chart-container"
            [view]="view"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [results]="single"
            [animations]="animations"
            [textValue]="gaugeTextValue"
            [scheme]="colorScheme"
            [min]="gaugeMin"
            [max]="gaugeMax"
            [units]="gaugeUnits"
            [angleSpan]="gaugeAngleSpan"
            [startAngle]="gaugeStartAngle"
            [showAxis]="gaugeShowAxis"
            [bigSegments]="gaugeLargeSegments"
            [smallSegments]="gaugeSmallSegments"
            [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)"
            (legendLabelClick)="onLegendLabelClick($event)">
          </ngx-charts-gauge>
          <ngx-charts-linear-gauge
            *ngIf="chartType === 'linear-gauge'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [animations]="animations"
            [min]="gaugeMin"
            [max]="gaugeMax"
            [value]="gaugeValue"
            [previousValue]="gaugePreviousValue"
            [units]="gaugeUnits"
            (select)="select($event)">
          </ngx-charts-linear-gauge>
          <div *ngIf="chartType === 'plot-demo'">
            <input
              type="text"
              [required]="true"
              [(ngModel)]="mathText"
              (change)="mathFunction = getFunction(mathText); plotData = generatePlotData()">
            <ngx-charts-line-chart
              style="position: static; display: inline-block; transform: none;"
              [view]="view"
              class="chart-container"
              [scheme]="colorScheme"
              [schemeType]="schemeType"
              [results]="plotData"
              [animations]="animations"
              [legend]="false"
              [legendTitle]="legendTitle"
              (legendLabelClick)="onLegendLabelClick($event)"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [xAxisLabel]="'angle'"
              [yAxisLabel]="'radius'"
              [autoScale]="autoScale"
              [timeline]="timeline"
              [showGridLines]="showGridLines"
              [curve]="curves['Cardinal']"
              [rangeFillOpacity]="rangeFillOpacity"
              [roundDomains]="roundDomains"
              [tooltipDisabled]="tooltipDisabled"
              (select)="select($event)">
            </ngx-charts-line-chart>
            <p></p>
            <ngx-charts-polar-chart
              style="position: static; display: inline-block; transform: none;"
              [view]="view"
              class="chart-container"
              [scheme]="colorScheme"
              [schemeType]="schemeType"
              [results]="plotData"
              [animations]="animations"
              [legend]="false"
              [legendTitle]="legendTitle"
              (legendLabelClick)="onLegendLabelClick($event)"
              [gradient]="gradient"
              [xAxis]="false"
              [yAxis]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [xAxisLabel]="'angle'"
              [yAxisLabel]="'radius'"
              [autoScale]="autoScale"
              [showGridLines]="showGridLines"
              [rangeFillOpacity]="rangeFillOpacity"
              [roundDomains]="roundDomains"
              [tooltipDisabled]="tooltipDisabled"
              [showSeriesOnHover]="showSeriesOnHover"
              [curve]="curves['Cardinal Closed']"
              (select)="select($event)">
            </ngx-charts-polar-chart>
          </div>
          <div class="chart-container"
            *ngIf="chartType === 'tree-map-demo'"
            style="padding: 10px; border: 1px solid white;">
            <h4 style="text-align: center;">
              <button class="btn btn-link" [class.active]="sumBy === 'Size'" (click)="treemapProcess('Size')">By Size</button>
              <button class="btn btn-link" [class.active]="sumBy === 'Count'" (click)="treemapProcess('Count')">By Count</button>
            </h4>
            <div style="height: 17px; font-size: 12px;">
              <ng-container *ngFor="let item of treemapPath; let last = last;">
                <button
                  class="btn btn-link"
                  [class.active]="last"
                  [disabled]="last"
                  (click)="treemapSelect(item)">{{item.name}} ({{item.value}})
                </button>
                <span *ngIf="!last"> / </span>
              </ng-container>
            </div>
            <ngx-charts-tree-map
              [view]="view"
              (legendLabelClick)="onLegendLabelClick($event)"
              [scheme]="colorScheme"
              [results]="treemap"
              [animations]="animations"
              [tooltipDisabled]="tooltipDisabled"
              [gradient]="gradient"
              (select)="treemapSelect($event)">
            </ngx-charts-tree-map>
          </div>
          <ngx-charts-line-chart
            *ngIf="chartType === 'line-reference-lines'"
            [view]="view"
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [animations]="animations"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [curve]="curve"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="tooltipDisabled"
            [showRefLines]="showRefLines"
            [showRefLabels]="showRefLabels"
            [referenceLines]="refLines"
            (select)="select($event)">
          </ngx-charts-line-chart>
          <ngx-charts-bar-vertical
            *ngIf="chartType === 'tooltip-templates'"
            class="chart-container"
            [view]="view"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [customColors]="customColors"
            [results]="single"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)"
            (legendLabelClick)="onLegendLabelClick($event)">
            <ng-template #tooltipTemplate let-model="model">
              <h1>
                {{getFlag(model.name)}}
              </h1>
              <h2>{{model.name}}: {{model.value}}</h2>
            </ng-template>
          </ngx-charts-bar-vertical>
          <ngx-charts-sparkline
            *ngIf="chartType === 'sparkline'"
            [view]="[100,50]"
            class="chart-container"
            [scheme]="'flame'"
            [results]="sparklineData"
            [animations]="animations"
            [curve]="curve">
          </ngx-charts-sparkline>
          <ngx-charts-timeline-filter-bar-chart
            *ngIf="chartType === 'timeline-filter-bar-chart-demo'"
            [view]="view"
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="timelineFilterBarData"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="false"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="'Executions'"
            [showGridLines]="showGridLines"
            (onFilter)="onFilter($event)">
          </ngx-charts-timeline-filter-bar-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>