#submitBtn, #backBtn {
  float: right;
  margin: 20px;
}

.row {
  margin: 0;
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  //padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 50%;
  //padding: 0 4px;
}

.column mat-card {
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}