<div class="row">
  <div class="column">
    <mat-card>
      <mat-toolbar class="text-base">
        Create New Partner
      </mat-toolbar>
      <form [formGroup]="form" (ngSubmit)="createPartner()" #partnerForm="ngForm">
        <mat-card-content>
          <div class="form-group" fxLayout="column" fxLayoutGap="25px">

            <mat-form-field>
              <input matInput placeholder="Partner Title" type="text" formControlName="title" required>
              <mat-error>Please fill in the partner title.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Select Company" formControlName="company" required>
                <mat-option *ngFor="let company of companies;" [value]="company._id">
                  {{ company.title }}
                </mat-option>
              </mat-select>
              <mat-error>Please select company.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Name" type="text" formControlName="name" required>
              <mat-error>Please fill in partner name. </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phone Number" type="tel" formControlName="msisdn" required>
              <mat-error>Please fill in your phone number.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" type="email" formControlName="email" required>
              <mat-error>Please fill in your email.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Address" type="text" formControlName="address">
            </mat-form-field>

            <a [routerLink]="['/map']" style="color: #2980b9">Choose location.</a>

            <mat-form-field>
              <input matInput placeholder="Latitude" type="text" formControlName="lat">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Longitude" type="text" formControlName="long">
            </mat-form-field>

            <mat-card-footer>
              <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
              <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
            </mat-card-footer>

          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>

<div class="column">
  <mat-card>
    <mat-card-content>
      <app-map></app-map>
    </mat-card-content>
  </mat-card>
</div>


</div>

