<div class="session">
  <mat-card class="overflow-hidden">
    <div fxLayout="row wrap">

      <div fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center">
        <mat-card-content class="pt-3">

          <h1 class="mb-0">Sign up</h1>
          <p class="mat-text-muted text-md mt-0 mb-2">Create an app id to continue.</p>

        </mat-card-content>
      </div>


      <div fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="signUp()" *ngIf="!isLoading">

            <div fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="100px"
                 fxLayoutGap.xs="0px"
                 fxLayoutAlign="center">

              <div fxLayout="column">
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput placeholder="Username" formControlName="username" type="text">
                    <mat-error> Please enter username</mat-error>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input matInput type="password" formControlName="password" placeholder="Password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error>Please enter password</mat-error>
                  </mat-form-field>
                </div>


                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput placeholder="Firstname" formControlName="firstname" type="text">
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput placeholder="Lastname" formControlName="lastname" type="text">
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <input matInput placeholder="Card_id" formControlName="card_id" type="text">
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>chat_bubble_outline</mat-icon>
                    <input matInput placeholder="Google id" formControlName="google_id" type="text">
                  </mat-form-field>
                </div>
              </div>


              <div fxLayout="column">

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input matInput placeholder="Birth Date" [matDatepicker]="birthday"
                           formControlName="birthday" required>
                    <mat-datepicker #birthday></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>smartphone</mat-icon>
                    <input matInput placeholder="Phone Number" formControlName="msisdn" type="number">
                    <mat-error>Please enter a phone number</mat-error>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>email</mat-icon>
                    <input matInput placeholder="Email" formControlName="email" type="email">
                    <mat-error>Please enter an email</mat-error>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>chat_bubble_outline</mat-icon>
                    <input matInput placeholder="Line id" formControlName="lineid" type="text">
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <mat-icon matSuffix>chat_bubble_outline</mat-icon>
                    <input matInput placeholder="Facebook id" formControlName="facebook_id" type="text">
                  </mat-form-field>
                </div>

                <div class="pb-1" style="width: 180px; hieght: 72.59px">
                  <input type="file" (change)="onImagePicked($event)" name="image">
                  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
                       hidden>
                    <img [src]="imagePreview" [alt]="form.value.username">
                  </div>
                </div>
              </div>


            </div>


            <div style="background-color:#00E676">
              <div>
                <button style="width: 100%" mat-raised-button flex color="primary" type="submit" *ngIf="!isLoading">
                  Create your
                  account
                </button>
              </div>
            </div>


          </form>
        </mat-card-content>
      </div>


    </div>
  </mat-card>





