<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSHnClLe2zSQoYGe-Iul6D33t8rTVLvHA&libraries=places&language=en"></script>-->
<div fxFlex.gt.sm="100" fxFlex="100">

    <div class="form-group">
        <input matInput type="text" placeholder="Search for location" autocorrect="off" autocapitalize="on"
               spellcheck="off" class="form-control" #search>
    </div>

        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="openDialog($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
        </agm-map>

</div>
