<mat-card>
  <mat-toolbar class="text-base">Form validation</mat-toolbar>
  <form [formGroup]="form">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="First name" [formControl]="form.controls['fname']">
          </mat-form-field>
          <small *ngIf="form.controls['fname'].hasError('required') && form.controls['fname'].touched" class="mat-text-warn">You must include a first name.</small>
          <small *ngIf="form.controls['fname'].hasError('minlength') && form.controls['fname'].touched" class="mat-text-warn">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['fname'].hasError('maxlength') && form.controls['fname'].touched" class="mat-text-warn">Your first name cannot exceed 10 characters.</small>
        </div>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Email address" [formControl]="form.controls['email']" type="email">
        </mat-form-field>
        <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">You must include an email address.</small>
        <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Website address (http://nyasha.me)" [formControl]="form.controls['url']" type="url">
        </mat-form-field>
        <small *ngIf="form.controls['url'].hasError('required') && form.controls['url'].touched" class="mat-text-warn">You must include a web address.</small>
        <small *ngIf="form.controls['url'].errors?.url && form.controls['url'].touched" class="mat-text-warn">You must include a valid web address.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Date" [formControl]="form.controls['date']" type="date">
        </mat-form-field>
        <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="mat-text-warn">You must include a date.</small>
        <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="mat-text-warn">You must include a valid date.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Number range (between 5 and 9)" [formControl]="form.controls['range']">
        </mat-form-field>
        <small *ngIf="form.controls['range'].hasError('required') && form.controls['range'].touched" class="mat-text-warn">You must enter a number.</small>
        <small *ngIf="form.controls['range'].errors?.range && form.controls['range'].touched" class="mat-text-warn">Number should be between 5 and 9.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Credit card (4111 1111 1111 1111)" [formControl]="form.controls['creditCard']">
        </mat-form-field>
        <small *ngIf="form.controls['creditCard'].hasError('required') && form.controls['creditCard'].touched" class="mat-text-warn">You must enter a credit card.</small>
        <small *ngIf="form.controls['creditCard'].errors?.creditCard && form.controls['creditCard'].touched" class="mat-text-warn">You must enter a valid credit card number.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="US Phone number (15417543010)" [formControl]="form.controls['phone']" type="text">
        </mat-form-field>
        <small *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched" class="mat-text-warn">You must include phone number.</small>
        <small *ngIf="form.controls['phone'].errors?.phone && form.controls['phone'].touched" class="mat-text-warn">You must include a valid phone number.</small>
      </div>

    	<div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Password" [formControl]="form.controls['password']" type="password">
        </mat-form-field>
    		<small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">You must include password.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
        </mat-form-field>
    		<small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="mat-text-warn">You must include confirm password.</small>
    		<small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="mat-text-warn">Passwords do not math.</small>
    	</div>

      <div class="mb-1">
        <label>Gender</label>
    	  <mat-radio-group [formControl]="form.controls['gender']">
      	  <mat-radio-button value="male">Male</mat-radio-button>
      	  <mat-radio-button value="female">Female</mat-radio-button>
      	</mat-radio-group>
        <small *ngIf="!form.controls['gender'].valid && form.controls['gender'].touched" class="mat-text-warn">You must select a gender.</small>
      </div>
    </mat-card-content>
    <hr>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
