<mat-card>
  <mat-toolbar class="text-base">Cards</mat-toolbar>
  <mat-card-content>

    <mat-card>
      <mat-card-content>Hello</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title-group>
          <mat-card-title>Card with title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <img mat-card-md-image src="assets/images/unsplash/19.jpg">
      </mat-card-title-group>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <mat-card-title>Card with title and footer</mat-card-title>
      <mat-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-card-flat">
      <mat-card-title>Easily customizable</mat-card-title>
      <mat-card-actions>
        <button mat-button>First</button>
        <button mat-button>Second</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title>Standard Card</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <hr>
      <mat-card-content>
        <p>Standard card with content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <button mat-button color="accent">Action</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="assets/images/avatar.jpg">
        <mat-card-title>Header title</mat-card-title>
        <mat-card-subtitle>Header subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/unsplash/18.jpg">
      <mat-card-content>
        <p>Here is some more content</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
       <mat-card-title-group>
          <img mat-card-sm-image src="assets/images/unsplash/20.jpg">
          <mat-card-title>Card with title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
       </mat-card-title-group>
    </mat-card>

  </mat-card-content>
</mat-card>