<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">
      Edit {{warehouseName}}
    </mat-toolbar>
    <form [formGroup]="form" (submit)="updateWarehouse()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Warehouse Name" type="text" formControlName="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Import Value" type="text" formControlName="import_value">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Export Value" type="number" formControlName="export_value">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Daily Freight" type="number" formControlName="daily_freight">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button [value]="true">Enable</mat-radio-button>
              <mat-radio-button [value]="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <button mat-raised-button color="primary" type="submit">Submit</button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
