<mat-toolbar class="bg-image bg-image-pricing">
  <mat-toolbar-row> </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-slide-toggle class="switch-center">Pay annual save upto 25%</mat-slide-toggle>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start" class="mat-card-top">
  <div fxFlex.gt-sm="80" fxFlex="100">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="pricing-plan">
          <mat-card-title>Developer</mat-card-title>
          <mat-card-subtitle class="mat-text-primary">For testing purposes</mat-card-subtitle>
          <mat-card-content>
            <h1><strong class="plan-price">FREE</strong></h1>
            <mat-list dense>
              <mat-list-item>Secure storage</mat-list-item>
              <mat-list-item>Limited to 1 user</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Data analytics</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Full search access</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions class="pb-1">
            <button mat-raised-button color="accent">Choose Plan</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="pricing-plan">
          <mat-card-title>Basic</mat-card-title>
          <mat-card-subtitle>For freelancers</mat-card-subtitle>
          <mat-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>10</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <mat-list dense>
              <mat-list-item>Secure storage</mat-list-item>
              <mat-list-item>5 concurrent users</mat-list-item>
              <mat-list-item>Data analytics</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Full search access</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions class="pb-1">
            <button mat-raised-button color="accent">Choose Plan</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="pricing-plan">
          <mat-card-title>Managed</mat-card-title>
          <mat-card-subtitle>For small businesses</mat-card-subtitle>
          <mat-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>49</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <mat-list dense>
              <mat-list-item>Secure storage</mat-list-item>
              <mat-list-item>Unlimited users</mat-list-item>
              <mat-list-item>Data analytics</mat-list-item>
              <mat-list-item>Full search access</mat-list-item>
              <mat-list-item class="plan-feature-inactive mat-text-muted">Automatic backups</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions class="pb-1">
            <button mat-raised-button color="accent">Choose Plan</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="pricing-plan">
          <mat-card-title>Enterprise</mat-card-title>
          <mat-card-subtitle>For large companies</mat-card-subtitle>
          <mat-card-content>
            <h1>
              <strong class="plan-price">
                <span class="plan-price-symbol">$</span>
                <span>99</span>
                <span class="plan-price-period">/ month</span>
              </strong>
            </h1>
            <mat-list dense>
              <mat-list-item>Secure storage</mat-list-item>
              <mat-list-item>Unlimited users</mat-list-item>
              <mat-list-item>Data analytics</mat-list-item>
              <mat-list-item>Full search access</mat-list-item>
              <mat-list-item>Automatic backups</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions class="pb-1">
            <button mat-raised-button color="accent">Choose Plan</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>