<mat-accordion multi="true">

  <!--Start Company-->
  <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Company
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/company/company-create']">Create Company</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/company/company-list']">Company List</p>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Partner
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/partner/partner-create']">Create Partner</p>
      <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/partner/partner-list']">Partner List</p>
      <!--<p class="ml-2 mb-2" style="cursor: pointer">Product</p>-->

    </mat-expansion-panel>

    <!--<mat-expansion-panel class="mat-elevation-z0">-->
      <!--<mat-expansion-panel-header>-->
        <!--<mat-panel-title>-->
          <!--<p>Warehouse</p>-->
        <!--</mat-panel-title>-->
      <!--</mat-expansion-panel-header>-->

      <!--<p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/warehouse/warehouse-list']">Warehouse List</p>-->
    <!--</mat-expansion-panel>-->

  </mat-expansion-panel>
  <!--End Company-->


  <!--Start Partner-->
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Partner
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/partner/partner-list']">Partner List</p>
    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/partner/partner-create']">Create Partner</p>

  </mat-expansion-panel>


  <!--End Partner-->

  <!--Start Warehouse-->

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Warehouse
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/warehouse/warehouse-list']">Warehouse List</p>
    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/warehouse/warehouse-create']">Create Warehouse</p>

  </mat-expansion-panel>

  <!--End Warehouse-->


  <!--Start Product-->

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/product/product-list']">Product List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/product/product-create']">Create Product</p>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Product Type
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/product/product-type-list']">Product Type List</p>
      <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/product/product-type-create']">Create Product Type</p>

    </mat-expansion-panel>
  </mat-expansion-panel>
  <!--End Product-->

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Car Type
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/types/cars-list']">Car Type List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/types/cars-create']">Create Car Type</p>

  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        User Type
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/types/users-type-list']">User Type List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/types/users-type-create']">Create User Type</p>

  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Promotion
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/promotions/promotions-list']">Promotion List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/promotions/promotions-create']">Create Promotion</p>

  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transportation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/transportation/transportation-list']">Transportation List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/transportation/transportation-create']">Create Transportation</p>

  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Job Sheet
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="ml-2 mb-2" style="cursor: pointer" [routerLink]="['/job-sheets/job-sheets-list']">Job Sheet List</p>
    <p class="ml-2 mb-1" style="cursor: pointer" [routerLink]="['/job-sheets/job-sheets-create']">Create Job Sheet</p>

  </mat-expansion-panel>

</mat-accordion>
