<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Product Type</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="updateProductType()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Product Type Name" type="text" formControlName="title">
          </mat-form-field>

          <!--<mat-form-field>-->
            <!--<mat-select placeholder="Select Company" formControlName="company" (change)="changeSelection($event.value)">-->
              <!--<mat-option *ngFor="let company of companies; let i = index;" [value]="i">-->
                <!--{{ company.title }}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->

          <!--<mat-form-field>-->
            <!--<input matInput placeholder="Company" type="text" formControlName="company">-->
          <!--</mat-form-field>-->

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable" disabled>
              <mat-radio-button [value]="true">Enable</mat-radio-button>
              <mat-radio-button [value]="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <button mat-raised-button color="primary" type="submit">Submit</button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
