<div fxFlex.gt.sm="100" fxFlex="100">
  <div *ngIf="warehouses.length > 0">

    <mat-toolbar>Warehouse List
      <div class="ma-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="createWarehouse" color="warn" matTooltip="Create New Warehouse"
                  (click)="addWarehouse()">add_box
        </mat-icon>
        <!--<mat-icon style="cursor: pointer;" id="export" color="primary" matTooltip="Export" (click)="exportCsv()">-->
          <!--archive-->
        <!--</mat-icon>-->
      </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouseName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="element">
          <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable">
          {{element.enable}}
        </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" >
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" class="element">
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="editWarehouseInfo">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onSelect(i, $event)">
            <mat-icon id="importProduct" matTooltip="import product to warehouse">library_add</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="eachStore" matTooltip="see store product of this warehouse">shopping_cart</mat-icon>
          </button>
          <!--<button mat-icon-button (click)="onSelect(i, $event)">-->
          <!--<mat-icon id="allStore" matTooltip="see store product of all warehouse">subject</mat-icon>-->
          <!--</button>-->
          <!--<button mat-icon-button color="primary" (click)="pickedWarehouse(i)">-->
          <!--<mat-icon>add_box</mat-icon>-->
          <!--</button>-->
          <button mat-icon-button color="warn" (click)="onSelect(i, $event)">
            <mat-icon id="deleteWarehouseIcon" matTooltip="delete warehouse">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

  </div>

  <p class="info-text mat-body-1" *ngIf="warehouses.length == 0">
    No warehouse exist. Please create new warehouse.<br>
    <a [routerLink]="['/warehouse/warehouse-create']">
      <button mat-small mat-raised-button color="primary">
        Create New Warebhouse
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>
</div>
