<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Product Type</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="createTest()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Product Type Name" type="text" formControlName="title">
            <mat-error>Please fill in the product type title.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
