<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar>
      Create New User Type
    </mat-toolbar>
    <mat-card-content>
      <form (submit)="updateUserType(userTypeForm)" #userTypeForm="ngForm">
        <div class="form-group" fxLayout="column" fxLayoutGap="25px" *ngFor="let userType of userTypes">

          <mat-form-field>
            <input matInput placeholder="Title" type="text" class="form-control" [(ngModel)]="userType.title" name="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" class="form-control" [(ngModel)]="userType.description" name="description">
          </mat-form-field>

          <!--<mat-form-field>-->
            <!--<mat-select placeholder="Select Company" class="form-control" [(ngModel)]="userType.company" name="company" required>-->
              <!--<mat-option *ngFor="let company of companies; let i = index;" [value]="i">-->
                <!--{{ company.title }}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
            <!--<mat-error>Pleas e select company.</mat-error>-->
          <!--</mat-form-field>-->

          <mat-form-field>
            <input matInput placeholder="Key" type="number" class="form-control" [(ngModel)]="userType.key" name="key" pattern="[0-9]">
            <mat-error>!!!</mat-error>
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group class="form-control" [(ngModel)]="userType.enable" name="enable">
              <mat-radio-button [value]="true">Enable</mat-radio-button>
              <mat-radio-button [value]="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>