<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar>
      Import Product to Store
      <div class="ma-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" color="primary" matTooltip="Import with File"
                  (click)="fileImport()">input
        </mat-icon>
        <mat-icon style="cursor: pointer;" color="primary" matTooltip="Import many product" (click)="multipleImport()">
          table_chart
        </mat-icon>
      </div>
    </mat-toolbar>

    <form [formGroup]="form" (submit)="importNewProduct()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company">
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Partner" formControlName="partner">
              <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                {{ partner.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company first.</mat-error>
          </mat-form-field>

          <!--<mat-form-field>-->
            <!--<input matInput [value]="partnerName">-->
          <!--</mat-form-field>-->

          <mat-form-field>
            <mat-select placeholder="Select Warehouse" formControlName="warehouse">
              <mat-option *ngFor="let warehouse of warehouses;" [value]="warehouse._id">
                {{ warehouse.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Product" formControlName="serial_product" required>
              <mat-option *ngFor="let product of products;" [value]="product.serial_product">
                {{ product.serial_product }}
              </mat-option>
            </mat-select>
            <mat-error>Please select partner first.</mat-error>
          </mat-form-field>

          <!--<input formControlName="file" type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .csv">-->

          <button mat-raised-button color="primary" type="submit">Submit</button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
