<div fxFlex.gt.sm="100" fxFlex="100">
    <mat-card-content>
        <mat-toolbar>
            Job Sheet
        </mat-toolbar>

        <div *ngIf="jobSheets.length > 0">
            <mat-table #table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="no" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
                    <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.company }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="car">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Car </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.cars }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="type_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Sheet Type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.type.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="type_key">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Sheet Type Key</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.type.key }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="type_description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Sheet Type Description</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.type.description }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="start" stickyEnd>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Start</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.start }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="benefit_total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Total </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.benefit.total }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="benefit_company">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Company </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.benefit.companey }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="benefit_expense">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Expense </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.benefit.expense }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="benefit_system">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Benefit System </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.benefit.system }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="worker_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Worker Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.workers.type }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="worker_allowance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Worker Allowance </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.workers.allowance }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="worker_by">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Worker By </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.workers.by }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="worker_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Worker Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.workers.date }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_lat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Lat </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.workers.type }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position - Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.title }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position - Description </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.description }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_long">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Long </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.long }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_note">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Note </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.note }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_signature">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Signature </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.signature }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_image">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Image </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.image }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_start">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Start </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.start }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_end">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position End </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.end }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_location_lat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Location - Long </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.locations.lat }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_location_long">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Location - Lat </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.locations.long }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_location_address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Location - Address </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.locations.address }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_contact_note">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Contact - note </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.contact.note }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_contact_msisdn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Contact - Phone Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.contact.msisdn }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jp_contact_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Job Position Contact - Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.job_position.contact.name }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

            </mat-table>
        </div>

    </mat-card-content>
</div>