.mat-column-no, .mat-column-company, .mat-column-car, .mat-column-type_name, .mat-column-type_key, .mat-column-type_description, .mat-column-start, .mat-column-benefit_total,
.mat-column-benefit_company, .mat-column-benefit_expense, .mat-column-benefit_system, .mat-column-worker_type, .mat-column-worker_allowance,
.mat-column-worker_by, .mat-column-worker_date,  .mat-column-jp_title,  .mat-column-jp_description, .mat-column-jp_lat, .mat-column-jp_long, .mat-column-jp_note, .mat-column-jp_signature,
.mat-column-jp_image, .mat-column-jp_start, .mat-column-jp_end, .mat-column-jp_location_lat, .mat-column-jp_location_long, .mat-column-jp_location_address, .mat-column-jp_address,
.mat-column-jp_contact_note, .mat-column-jp_contact_msisdn, .mat-column-jp_contact_name {
  flex: 0 0 300px;
}

.mat-table{
  overflow-x: scroll;
}

.mat-cell, .mat-header-cell {
  overflow: inherit;
}