<div fxFlex.gt.sm="100" fxFlex="100">
  <div *ngIf="partners.length > 0">
    <mat-toolbar>{{companyName}}
      <div class="ma-1" style="display: inline-flex;">
            <mat-icon  style="cursor: pointer;" color="warn" matTooltip="add new partner" [routerLink]="['/partner/partner-create']">add_box</mat-icon>
      </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partnerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Partner Name</mat-header-cell>
        <mat-cell *matCellDef="let element;"> {{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element" class="element"> {{element.enable}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" class="element">
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="editPartnerIcon" matTooltip="edit partner info">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="seeProductIcon" matTooltip="see product of this partner">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="seeWarehouseIcon" matTooltip="see warehouse">store</mat-icon>
          </button>
          <!--<button mat-icon-button (click)="onSelect(i, $event)">-->
            <!--<mat-icon id="addWarehouseIcon" matTooltip="add warehouse">playlist_add</mat-icon>-->
          <!--</button>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

  </div>

  <div class="info-text mat-body-1" *ngIf="partners.length == 0">
    <p>This company hasn't any partner. Please click button to create new partner.</p>
    <a [routerLink]="['/partner/partner-create']">
      <button mat-small mat-raised-button color="primary">
        Create New Partner
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </div>
</div>
