<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card-content>
    <mat-toolbar>
      Transportation List
      <div class="ml-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="createCompany" color="warn"
                  matTooltip="Create New Company" [routerLink]="['/types/cars-create']">add_box
        </mat-icon>
      </div>
    </mat-toolbar>

    <div *ngIf="transportations.length > 0">
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

      </mat-table>
    </div>

    <p class="info-text mat-body-1" *ngIf="transportations.length == 0">
      No transportation found. Please create new tranportation.<br>
      <a [routerLink]="['/transportation/transportation-create']">
        <button mat-small mat-raised-button color="primary">
          Create New Transportation
          <mat-icon>add_box</mat-icon>
        </button>
      </a>
    </p>

  </mat-card-content>
</div>