<h1 mat-dialog-title>Add Partner (Support)</h1>
<div mat-dialog-content>
  <p>Please enter your support information</p>

  <form [formGroup]="form">

    <div class="formGroup">

      <mat-form-field>
        <mat-select placeholder="Select Company" formControlName="company"
                    (change)="pickedCompany($event.value)">
          <mat-option *ngFor="let company of companies; let i = index;" [value]="i">
            {{company.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select Partner" formControlName="partner" required>
          <mat-option *ngFor="let partner of partners;" [value]="partner._id" >
            {{partner.title}}
          </mat-option>
        </mat-select>
        <mat-error>No Partner Found.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Import Value" type="text" formControlName="import_value">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Export Value" type="number" formControlName="export_value">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Daily Freight" type="number" formControlName="daily_freight">
      </mat-form-field>


      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="addSupport()">Add</button>
      </div>

    </div>

  </form>

</div>