<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar>
      Create New Car Type
    </mat-toolbar>
    <mat-card-content>
      <form (ngSubmit)="updateCarType(CarForm)" #CarForm="ngForm">
        <div class="form-group" fxLayout="column" fxLayoutGap="25px" *ngFor="let car of cars">

          <mat-form-field>
            <input matInput placeholder="Title" type="text" class="form-control" [(ngModel)]="car.title" name="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" class="form-control" [(ngModel)]="car.description" name="description">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" class="form-control" [(ngModel)]="car.company" name="company" required>
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Pleas e select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Partner" class="form-control" [(ngModel)]="car.support[0].partners" name="partners" [required]="CarForm.value.company">
              <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                {{ partner.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company first.</mat-error>
          </mat-form-field>

          <mat-label>Distance</mat-label>
          <mat-form-field>
            <input matInput placeholder="Number" type="text" class="form-control" [(ngModel)]="car.support[0].distances[0].number" name="number">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Price" type="text" class="form-control" [(ngModel)]="car.support[0].distances[0].price" name="price">
          </mat-form-field>

          <mat-label>Dimension</mat-label>
          <mat-form-field>
            <input matInput placeholder="weight" type="text" class="form-control" [(ngModel)]="car.support[0].dimension[0].weight" name="weight">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="long" type="text" class="form-control" [(ngModel)]="car.support[0].dimension[0].long" name="long">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="height" type="text" class="form-control" [(ngModel)]="car.support[0].dimension[0].height" name="height">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group class="form-control" [(ngModel)]="car.enable" name="enable">
              <mat-radio-button [value]="true">Enable</mat-radio-button>
              <mat-radio-button [value]="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>