<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Product</mat-toolbar>

    <form [formGroup]="form" (ngSubmit)="createProduct()">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Product Serial Number" type="number" formControlName="serial_product" required>
            <mat-error>Please fill in the product serial number.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company" (change)="pickedCompany($event.value)" required>
              <mat-option *ngFor="let company of companies; let i = index;" [value]="i">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Partner" formControlName="partner" [required]="form.get('company').value">
              <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                {{ partner.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company first.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Product Name" type="text" formControlName="title" required>
            <mat-error>Please fill in a product title.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Product Type" formControlName="type" required>
              <mat-option *ngFor="let type of types;" [value]="type._id">
                {{ type.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select product type.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Import Value" type="text" formControlName="import_value">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Daily Freight" type="text" formControlName="daily_freight">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Export Value" type="text" formControlName="export_value">
          </mat-form-field>

            <input type="file" (change)="onImagePicked($event)" name="image">

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button value="true">Enable</mat-radio-button>
              <mat-radio-button value="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </mat-card-content>
    </form>

  </mat-card>
</div>
