<mat-card>
  <mat-toolbar class="text-base">File upload</mat-toolbar>
  <mat-card-content>
    <div  fxLayout="row wrap" fxLayoutAlign="start">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="50" fxFlex="100"  class="pr-1">
        <h4 class="mt-0">Select files</h4>
        <div ng2FileDrop
          [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
          (fileOver)="fileOverBase($event)"
          [uploader]="uploader" class="my-drop-zone mb-1">Base drop zone</div>

        <div ng2FileDrop
          [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
          (fileOver)="fileOverAnother($event)"
          [uploader]="uploader" class="my-drop-zone mb-1">Another drop zone</div>

        <p>Multiple</p>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

        <div class="clearfix mb-1"></div>

        <p>Single</p>
        <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="50" fxFlex="100">
        <h4 class="mt-0"  fxLayout="row">
          <span fxFlex>Upload queue</span>
          <span>Queue length: {{ uploader?.queue?.length }}</span>
        </h4>

        <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="uploader.queue"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.file?.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Size" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.file?.size/1024/1024 | number:'.2' }} MB
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Progress" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-progress-bar mode="determinate" value="{{row.progress}}"></mat-progress-bar>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="row.isSuccess"><mat-icon>check</mat-icon></span>
              <span *ngIf="row.isCancel"><mat-icon>cancel</mat-icon></span>
              <span *ngIf="row.isError"><mat-icon>error</mat-icon></span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="action" [flexGrow]="3">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-raised-button mat-button-sm color="primary" type="button"
                (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">Upload</button>
              <button mat-raised-button mat-button-sm color="warn" type="button"
                (click)="row.cancel()" [disabled]="!row.isUploading">Cancel</button>
              <button mat-raised-button mat-button-sm color="accent" type="button"
                (click)="row.remove()">Remove
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <div class="mb-1">
          <p>Queue progress:</p>
          <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
        </div>
        <button mat-raised-button mat-button-sm color="primary" type="button"
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload all</button>
        <button mat-raised-button mat-button-sm color="warn" type="button"
          (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">Cancel all</button>
        <button mat-raised-button mat-button-sm color="accent" type="button"
          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Remove all</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
