<div fxFlex.gt.sm="100" fxFlex="100">
    <mat-card>
        <mat-toolbar>
            Create New Transportation
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="form" (submit)="createNewT()">
                <div class="form-group" fxLayout="column" fxLayoutGap="25px">

                    <mat-form-field>
                        <mat-select placeholder="Select Company" formControlName="company"
                                    (change)="pickedCompany($event.value)">
                            <mat-option *ngFor="let company of companies; let i = index;" [value]="i">
                                {{ company.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Pleas e select company.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Partner" formControlName="partner" [required]="form.get('company').value">
                            <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                                {{ partner.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Pleas e select company.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Car" formControlName="car">
                            <mat-option *ngFor="let car of cars;" [value]="car._id">
                                {{ car.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Pleas e select company.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Type Name" type="text" formControlName="type_name">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Type Key" type="text" formControlName="type_key">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Type Description" type="text" formControlName="type_description">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Title" type="text" formControlName="title">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Description" type="text" formControlName="description">
                    </mat-form-field>

                    <mat-label>Contact</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Contact Name" type="text" formControlName="contact_name">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Phone Number" type="text" formControlName="contact_msisdn">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Note" type="text" formControlName="contact_note">
                    </mat-form-field>

                    <mat-label><a [routerLink]="['/map']" style="color: red;">Location*</a></mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Latitude" type="text" formControlName="lat">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Longitude" type="text" formControlName="long">
                    </mat-form-field>

                    <mat-card-footer>
                        <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
                        <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
                    </mat-card-footer>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>