<div fxFlex.gt.sm="100" fxFlex="100">

  <div *ngIf="products.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="element"> {{element.enable}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

    <div class="ma-1">
      <a [routerLink]="['/product/product-create']" *ngIf="products.length > 0">
        <button mat-raised-button color="primary">Add Product
          <mat-icon>add_box</mat-icon>
        </button>
      </a>
    </div>

  </div>

  <p class="info-text mat-body-1" *ngIf="products.length == 0">
    <a [routerLink]="['/product/product-create']">
      <button mat-small mat-raised-button color="primary">
        Add Product
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>

</div>
