<div fxFlex.gt.sm="100" fxFlex="100">
    <!--<mat-toolbar>Warehouse of Company</mat-toolbar>-->
    <div *ngFor="let wh of whList" class="mb-2">
        <div *ngIf="wh.data.length > 0">
            <!--<mat-expansion-panel>-->
            <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
            <!--{{wh.data[0].warehouse.title}}-->
            <!--</mat-panel-title>-->

            <!--</mat-expansion-panel-header>-->


            <mat-toolbar> {{wh.data[0].warehouse.title}}</mat-toolbar>
            <mat-table #table [dataSource]="wh" matSort>
                <ng-container matColumnDef="no">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let i = index;">
                        {{ i + 1 }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="serial_product">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Serial Product
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">x
                        {{element.serial_product.serial_product}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="product_title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.serial_product.title}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="product_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.serial_product.type.title}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="product_volume">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Volume
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.total}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="remain">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Remain
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.remain}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Export
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
                        <button mat-icon-button (click)="onSelect(i)" disabled>
                            <mat-icon matTooltip="export">import_export</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

            </mat-table>


            <!--</mat-expansion-panel>-->


        </div>
    </div>

    <p class="info-text mat-body-1" *ngIf="whList.length == 0">
        No warehouse exist. Please create new warehouse.<br>
        <a [routerLink]="['/warehouse/warehouse-create']">
            <button mat-small mat-raised-button color="primary">
                Create new warehouse
                <mat-icon>add_box</mat-icon>
            </button>
        </a>
    </p>

</div>
