<div fxFlex.gt.sm="100" fxFlex="100">
  <div *ngIf="storeProducts.length > 0">
    <mat-toolbar>
      {{warehouseName}}
      <div class="ma-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" color="warn" matTooltip="import new product" (click)="addProduct()">add_box
        </mat-icon>

        <mat-icon style="cursor: pointer;" id="export" color="primary" matTooltip="Download"
                  (click)="exportCsv()">
          archive
        </mat-icon>

      </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="storeProducts" matSort>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serial_product">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Serial_product
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.serial_product}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product_title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.serial_product.title}}
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="product_type">-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header>-->
          <!--Product Type-->
        <!--</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element">-->
          <!--{{element.serial_product.type.title}}-->
        <!--</mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="product_volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Volume
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.total}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="out">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Out
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.remain}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remain">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Remain
        </mat-header-cell>
        <mat-cell *matCellDef="let element">

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Export
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
          <button mat-icon-button (click)="onSelect(i)">
            <mat-icon matTooltip="export">import_export</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>
  </div>

  <div class="info-text mat-body-1" *ngIf="storeProducts.length == 0">
    <p>This warehouse hasn't any product. Please click button to import product.</p>
    <a [routerLink]="['/store-product/store-product-create']">
      <button mat-small mat-raised-button color="primary">
        Import Product
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </div>

</div>
