<div fxFlex.gt-sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Profile</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updateProfile()">
        <br>
        <div class="form-group">

          <div fxLayoutAlign="left">
            <figure>
              <div>

                <div [hidden]="imagePreview">
                  <div style="position: relative; padding: 0; cursor: pointer;">
                    <img mat-card-sm-image [src]="form.value.image" id="image" class="radius-circle" (click)="imagePick.click()" (error)="image = defaultImage"
                         [ngClass]="{'opa': isViewable == true}">
                    <span style="position: absolute; color: gray();"
                          id="imgSpan" *ngIf="isViewable == false"> &nbsp; &nbsp; &nbsp; &nbsp; Edit</span>
                  </div>
                </div>

                <br>

                <!--<a (click)="removeImageProfile()">Remove</a>-->

                <div>
                  <input type="file" #imagePick (change)="onImagePicked($event)" name="image" [disabled]="disabled">
                  <div style="position: relative; padding: 0; cursor: pointer;">
                    <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                      <img mat-card-sm-image [src]="imagePreview" [alt]="form.value.username" class="radius-circle"
                           (click)="imagePick.click()">
                      <span style="position: absolute; color: gray();"
                            id="imgPreSpan" *ngIf="isViewable == false"> &nbsp; &nbsp; &nbsp; &nbsp; Edit</span>
                    </div>
                  </div>
                </div>

              </div>


            </figure>
          </div>

          <br><br>
          <div fxLayout="column" fxLayoutGap="32px" fxLayout.lt-sm="column">
            <mat-form-field>
              <input matInput placeholder="Firstname" type="text" formControlName="firstname">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Lastname" type="text" formControlName="lastname">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Birth Date" [matDatepicker]="birthdayPicker" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdayPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Zipcode" formControlName="zipcode">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Line Id" formControlName="lineid">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Facebook Id" formControlName="facebook_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Card Id" formControlName="card_id">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" id="update" *ngIf="isViewable == false">
              Update Profile
            </button>

            <button mat-raised-button color="primary" type="button" id="editBtn" *ngIf="isViewable == true"
                    (click)="onEditProfile()">Edit Profile
            </button>
          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

