$danger-color: #e74c3c;
$bold-label: bold;

mat-label {
 font-weight: $bold-label;
}


.divide-hidden {
  display: none;
}

input[type=file] {
  visibility: hidden;
}

span {
  display:flex;
  text-align:center;
  width:100%;
  background:white;
  bottom:0;
  padding:4px 0;
  opacity:.5
}

.opa {
  opacity: 0.5;
}

