<div fxFlex.gt.sm="100" fxFlex="100">

  <mat-toolbar>User Type
    <div class="ma-1" style="display: inline-flex;">
      <mat-icon style="cursor: pointer;" color="primary" matTooltip="add member" (click)="addUserType()">add_box</mat-icon>
    </div>
  </mat-toolbar>

  <div *ngIf="userTypes.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
          User Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{element.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
         Key
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{element.key}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="element">
          <mat-slide-toggle (change)="changeStatus(i, $event)" [(ngModel)]="element.enable" disabled>
            {{element.enable}}
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" class="element">
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="editUserTypeIcon" matTooltip="edit user type">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

  </div>

  <p class="info-text mat-body-1" *ngIf="userTypes.length == 0">
    No user member.<br>
    <a [routerLink]="['/company/company-invite-user']">
      <button mat-small mat-raised-button color="primary">
        Add New User
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>
</div>
