<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-toolbar class="toolbarText">{{partnerName}}
    <div class="ma-1" style="display: inline-flex;">
      <mat-icon style="cursor: pointer;" color="warn" matTooltip="add warehouse" (click)="addWarehouse()">add_box
      </mat-icon>
    </div>
  </mat-toolbar>
  <div *ngIf="warehouses.length > 0">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouseName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Name</mat-header-cell>
        <mat-cell *matCellDef="let element;"> {{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element" class="element"> {{element.enable}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" class="element">
          <!--<button mat-icon-button (click)="onSelect(i, $event)">-->
          <!--<mat-icon id="editWarehouseIcon" matTooltip="edit warehouse info">edit</mat-icon>-->
          <!--</button>-->
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="seeProductIcon" matTooltip="see product in warehouse">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelect(i, $event)">
            <mat-icon id="addProductIcon" matTooltip="import product to warehouse">playlist_add</mat-icon>
          </button>
          <!--<button mat-icon-button color="warn" (click)="onSelect(i, $event)">-->
          <!--<mat-icon id="deleteWarehouseIcon" matTooltip="delete warehouse">delete</mat-icon>-->
          <!--</button>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>
  </div>

  <div class="info-text mat-body-1" *ngIf="warehouses.length == 0">
    <p>No Warehouse Found. Please click button to add warehouse.</p>
    <a [routerLink]="['/warehouse/warehouse-create']">
      <button mat-small mat-raised-button color="primary">
        Add Warehouse
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </div>
</div>
