<div class="session">
  <mat-card class="overflow-hidden">
    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100" class="bg-image bg-image-signin">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="h-100 py-3" >
          <div class="text-xs-center pb-1 mat-text-white">
            <div style="width: 100px;height: 20px;">
            </div>
          </div>
        </div>
      </div>

      <div fxFlex.gt-xs="50" fxFlex="100">
        <mat-card-content class="pa-3">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <h1 class="mb-0">Login</h1>
          <p class="mat-text-muted text-md mt-0 mb-2">Sign in with your app id to continue.</p>

          <!--signin form-->
          <form #signinForm="ngForm" (submit)="signIn(signinForm)" *ngIf="!isLoading">
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="username" name="username" ngModel #usernameInput="ngModel" required username>
                  <mat-error *ngIf="usernameInput.invalid">Please enter username</mat-error>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>

              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required password>
                  <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>

              <div class="pb-1">
                <mat-checkbox>Stay logged in</mat-checkbox>
              </div>
              <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
            </div>

            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/authen/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/authen/signup']">Sign up for a new account.</a>
            </div>
          </form>
          <!--end signin form-->

        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
