<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar>
      Create New Job Sheet
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" (submit)="createNewJobSheet()">
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company">
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Pleas e select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Car" formControlName="cars">
              <mat-option *ngFor="let car of cars;" [value]="car._id">
                {{ car.title }}
              </mat-option>
            </mat-select>
            <mat-error>Pleas e select company.</mat-error>
          </mat-form-field>

          <mat-label>Type</mat-label>
          <mat-form-field>
            <input matInput placeholder="Type Name" type="text" formControlName="type_name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Type Key" type="text" formControlName="type_key">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Type Description" type="text" formControlName="type_description">
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field style="width: 100%">
            <input matInput placeholder="Start Date" [matDatepicker]="start"
                   formControlName="start" required>
            <mat-datepicker #start></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          </mat-form-field>

          <mat-label>Benefit</mat-label>
          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="benefit_total">
          </mat-form-field>

          <mat-label>Contact</mat-label>
          <mat-form-field>
            <input matInput placeholder="Contact Name" type="text" formControlName="benefit_company">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone Number" type="text" formControlName="benefit_expense">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Note" type="text" formControlName="benefit_system">
          </mat-form-field>


          <mat-label>Worker</mat-label>
          <mat-form-field>
            <input matInput placeholder="Worker Type" type="text" formControlName="worker_type">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Worker Allowance" type="text" formControlName="worker_allowance">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="By" type="text" formControlName="worker_by">
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <input matInput placeholder="Worker Date" [matDatepicker]="worker_date"
                   formControlName="worker_date" required>
            <mat-datepicker #worker_date></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="worker_date"></mat-datepicker-toggle>
          </mat-form-field>

          <mat-label>Job Position</mat-label>
          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="jp_description">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Title" type="text" formControlName="jp_title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Job Position Latitude" type="text" formControlName="jp_lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Job Position Longitude" type="text" formControlName="jp_long">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Note" type="text" formControlName="jp_note">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Signature" type="text" formControlName="jp_signature">
          </mat-form-field>

            <input placeholder="Image" type="file" formControlName="jp_image">

          <mat-form-field style="width: 100%">
            <input matInput placeholder="Job Position Start" [matDatepicker]="jp_start"
                   formControlName="jp_start" required>
            <mat-datepicker #jp_start></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="jp_start"></mat-datepicker-toggle>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <input matInput placeholder="Job Position End" [matDatepicker]="jp_end"
                   formControlName="jp_end" required>
            <mat-datepicker #jp_end></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="jp_end"></mat-datepicker-toggle>
          </mat-form-field>


          <mat-divider></mat-divider>


          <mat-label>Job Position - Location</mat-label>
          <mat-form-field>
            <input matInput placeholder="Latitude" type="text" formControlName="jp_location_lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitude" type="text" formControlName="jp_location_long">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Address" type="text" formControlName="jp_location_address">
          </mat-form-field>

          <mat-divider></mat-divider>


          <mat-label>Job Position - Contact</mat-label>
          <mat-form-field>
            <input matInput placeholder="Note" type="text" formControlName="jp_contact_note">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone Number" type="text" formControlName="jp_contact_msisdn">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Contact Name" type="text" formControlName="jp_contact_name">
          </mat-form-field>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>