<div fxFlex.gt.sm="100" fxFlex="100">
    <mat-card>
        <mat-toolbar>
            Create New Promotion
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="form" (submit)="createNewPromotion()">
                <div class="form-group" fxLayout="column" fxLayoutGap="25px">

                    <mat-form-field>
                        <input matInput placeholder="Title" type="text" formControlName="title" required>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Description" type="text" formControlName="description">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Company" formControlName="company">
                            <mat-option *ngFor="let company of companies;" [value]="company._id">
                                {{ company.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Pleas e select company.</mat-error>
                    </mat-form-field>

                    <mat-label>Promotion Time</mat-label>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Promotion Start Date" [matDatepicker]="promotion_start"
                               formControlName="promotion_start" required>
                        <mat-datepicker #promotion_start></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="promotion_start"></mat-datepicker-toggle>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Promotion End Date" [matDatepicker]="promotion_end"
                               formControlName="promotion_end" required>
                        <mat-datepicker #promotion_end></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="promotion_end"></mat-datepicker-toggle>
                    </mat-form-field>

                    <mat-label>Usage</mat-label>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Usage Start Date" [matDatepicker]="usage_start"
                               formControlName="usage_start" required>
                        <mat-datepicker #usage_start></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="usage_start"></mat-datepicker-toggle>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Usage End Date" [matDatepicker]="usage_end"
                               formControlName="usage_end" required>
                        <mat-datepicker #usage_end></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="usage_end"></mat-datepicker-toggle>
                    </mat-form-field>

                    <mat-label>Discount</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Minimum Price" type="text" formControlName="minimum_piece">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Minimum Total" type="text" formControlName="minimum_total">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Price" type="text" formControlName="price">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Rate" type="text" formControlName="rate">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Item" type="text" formControlName="items" required>
                    </mat-form-field>

                    <div class="pb-2">
                        <mat-label>Status</mat-label>
                        <mat-radio-group formControlName="enable">
                            <mat-radio-button value="true">Enable</mat-radio-button>
                            <mat-radio-button value="false">Unable</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-card-footer>
                        <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
                        <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
                    </mat-card-footer>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>