<h1 mat-dialog-title>Export Detials</h1>
<div mat-dialog-content>

  <p><b>Export From: </b></p>

  <p>Product: {{data.pdName}}</p>
  <p>Company: {{data.cName}}</p>
  <p *ngIf="data.pnName">Partner: {{data.pnName}}</p>
  <form [formGroup]="form">
    <div class="formGroup">

      <mat-form-field>
        <mat-select placeholder="Select Warehouse" formControlName="warehouse" (change)="pickedWarehouse($event.value)">
          <mat-option *ngFor="let warehouse of warehouses; let i = index;" [value]="i">
            {{warehouse.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select Tag Code" formControlName="tagCode" (change)="pickedTagCode($event.value)">
          <mat-option *ngFor="let tagCode of tagCodes; let i = index;" [value]="i">
            {{tagCode.tag_code}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<p><b>Export To: </b></p>-->
      <!--<mat-form-field>-->
      <!--<mat-select placeholder="Select Partner" formControlName="partner" (change)="pickedPartner($event.value)">-->
      <!--<mat-option *ngFor="let partner of partners; let i = index;" [value]="i">-->
      <!--{{partner.title}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
      <!--<mat-select placeholder="Select Warehouse" formControlName="warehouse" (change)="pickedWarehouse($event.value)">-->
      <!--<mat-option *ngFor="let warehouse of warehouses; let i = index;" [value]="i">-->
      <!--{{warehouse.title}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
      <!--<mat-select placeholder="Select Tag Code" formControlName="tagCode" (change)="pickedTagCode($event.value)">-->
      <!--<mat-option *ngFor="let tagCode of tagCodes; let i = index;" [value]="i">-->
      <!--{{tagCode.tag_code}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="exportProduct()">Export</button>
      </div>
    </div>
  </form>
</div>
