<div fxFlex.gt.sm="100" fxFlex="100">
  <div *ngIf="partners.length > 0">

    <mat-toolbar>
      Product by Partner
      <div class="ml-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="addPartner" color="warn"
                  matTooltip="Add Partner" (click)="openDialog()">add_box
        </mat-icon>
      </div>
    </mat-toolbar>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
         No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partner_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Partner
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{ element.partners.title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="daily_freight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Daily Freight
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{ element.charged_product.daily_freight }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="import_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Import Value
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{ element.charged_product.import_value }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="export_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Export Value
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{ element.charged_product.export_value }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>
  </div>
</div>