<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Company</mat-toolbar>
    <mat-card-content>
      <form (ngSubmit)="updateCompany(companyForm)" #companyForm="ngForm">

        <div class="form-group" fxLayout="column" fxLayoutGap="25px" *ngFor="let company of companies">

          <mat-form-field>
            <input matInput placeholder="Title" type="text" [(ngModel)]="company.title" name="title">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" [(ngModel)]="company.description" name="description">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Address" type="text" [(ngModel)]="company.contact.address" name="address">
          </mat-form-field>

          <a [routerLink]="['/map']" style="color: red;">Choose location*</a>

          <mat-form-field>
            <input matInput placeholder="Latitude" type="text" [(ngModel)]="company.contact.lat" name="lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitude" type="text" [(ngModel)]="company.contact.long" name="long">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone Number" type="text" [(ngModel)]="company.contact.telephone" name="telephone">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" type="email" [(ngModel)]="company.contact.email" name="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Line" type="text" [(ngModel)]="company.contact.line" name="line">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Facebook" type="text" [(ngModel)]="company.contact.facebook" name="facebook">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Website" type="text" [(ngModel)]="company.contact.website" name="website">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group [(ngModel)]="company.enable" name="enable">
              <mat-radio-button [value]="true">Enable</mat-radio-button>
              <mat-radio-button [value]="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>

        <mat-card-footer>
          <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
          <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
        </mat-card-footer>

      </form>
    </mat-card-content>
  </mat-card>
</div>
