<div fxFlex.gt.sm="100" fxFlex="100">

  <div *ngIf="partners.length > 0">
    <mat-toolbar>
      Partner List
      <div class="ml-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" id="createPartner" color="warn"
                  matTooltip="Create New Partner" [routerLink]="['/partner/partner-create']">add_box
        </mat-icon>
      </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partnerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Partner Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.title }}
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="status">-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Status</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element" class="element"> -->
          <!--{{element.enable}}-->
        <!--</mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
          <!--<button mat-icon-button color="primary" (click)="partnerIndex(i)">-->
            <!--<mat-icon>add_box</mat-icon>-->
          <!--</button>-->
          <button mat-icon-button (click)="onSelect(i)">
            <mat-icon matTooltip="edit partner info" id="editPartnerIcon">edit</mat-icon>
          </button>
          <!--<button mat-icon-button color="warn" (click)="deletePartner()">-->
            <!--<mat-icon>delete_outline</mat-icon>-->
          <!--</button>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

  </div>

  <p class="info-text mat-body-1" *ngIf="partners.length == 0">
    No partner exist. Please create new partner.<br>
    <a [routerLink]="['/company/company-create']">
      <button mat-small mat-raised-button color="primary">
        Create New Partner
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>

</div>