<div class="session">
  <mat-card class="overflow-hidden">
    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100" class="bg-image bg-image-verify">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="h-100 py-3" >
          <div class="text-xs-center pb-1 mat-text-white">
          </div>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100">
        <mat-card-content class="pa-3">
          <h1 class="mb-0">OTP Verification</h1>
          <a href="" (click)="onSendVerify()"> Send verification code again</a>
          <p class="mat-text-muted text-md mt-0 mb-2">Please enter otp from your email.</p>
          <form [formGroup]="form" (ngSubmit)="confirmCode()">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="OTP" formControlName="otp" type="text">
            </mat-form-field>
            <div  fxLayout="column"  fxLayoutAlign="space-around">
              <button mat-raised-button color="primary" type="submit">Confirm</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
