<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base toolbarText">
      Edit Partner Info
    </mat-toolbar>
    <form  (ngSubmit)="updatePartner(partnerForm)" #partnerForm="ngForm">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px" *ngFor="let partner of partners">

          <mat-form-field>
            <input matInput placeholder="Partner Title" type="text" class="form-control" [(ngModel)]="partner.title" name="title">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" class="form-control" [(ngModel)]="partner.company" name="company">
              <mat-option *ngFor="let company of companies;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Name" type="text" class="form-control" [(ngModel)]="partner.contact.name" name="name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone Number" type="tel" class="form-control" [(ngModel)]="partner.contact.msisdn" name="msisdn">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" type="email" class="form-control" [(ngModel)]="partner.contact.email" name="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Address" type="text" class="form-control" [(ngModel)]="partner.contact.address" name="address">
          </mat-form-field>

          <a [routerLink]="['/map']" style="color: #2980b9">Choose location.</a>

          <mat-form-field>
            <input matInput placeholder="Latitude" type="text" class="form-control" [(ngModel)]="partner.contact.lat" name="lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitude" type="text" class="form-control" [(ngModel)]="partner.contact.long" name="long">
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" >Submit</button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
