<h5>Mini Stat Widgets</h5>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>103</span>&nbsp;
            <span class="text-xs">
                <span class="mat-text-primary">&#9650;</span> +34%
            </span>
          </h2>
          <p class="text-md">Campaigns<p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget mat-blue-grey">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>230</span>&nbsp;
            <span class="text-xs">
              <span class="mat-text-accent">&#9650;</span> +46%
            </span>
          </h2>
          <p class="text-md">Customers<p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget mat-blue">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>323</span>&nbsp;
            <span class="text-xs">
              <span class="mat-text-white">&#9660;</span> +20%
            </span>
          </h2>
          <p class="text-md">Queries<p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget mat-pink">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>870</span>&nbsp;
            <span class="text-xs">
              <span class="mat-text-accent">&#9650;</span> +20%
            </span>
          </h2>
          <p class="text-md">Opens<p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>768</span>&nbsp;
            <span class="text-xs">
              <span class="mat-text-white">&#9660;</span> +20%
            </span>
          </h2>
          <p class="text-md">Replies<p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="33.33" fxFlex="50">
    <mat-card class="card-widget mat-purple">
      <div mat-card-widget>
        <div class="w-100">
          <h2 mat-card-widget-title>
            <span>$645</span>&nbsp;
            <span class="text-xs">
              <span class="mat-text-accent">&#9650;</span> +20%
            </span>
          </h2>
          <p class="text-md">Sales<p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<h5 class="mt-2">Stat Widgets</h5>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget">
      <div mat-card-widget>
        <button mat-mini-fab color="primary" mat-card-icon class="shadow-none">
          <mat-icon>local_offer</mat-icon>
        </button>
        <div class="pl-1 pr-1">
          <h2 mat-card-widget-title>103</h2>
          <p class="mat-text-muted text-md">Campaigns</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget">
      <div mat-card-widget>
        <button mat-mini-fab disabled="" mat-card-icon class="shadow-none">
          <mat-icon>phone</mat-icon>
        </button>
        <div class="pl-1 pr-1">
          <h2 mat-card-widget-title>230</h2>
          <p class="mat-text-muted text-md">Customers</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget">
      <div mat-card-widget>
        <button mat-mini-fab color="warn" mat-card-icon class="shadow-none">
          <mat-icon>notifications</mat-icon>
        </button>
        <div class="pl-1 pr-1">
          <h2 mat-card-widget-title>323</h2>
          <p class="mat-text-muted text-md">Queries</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget">
      <div mat-card-widget>
        <button mat-mini-fab mat-card-icon class="shadow-none">
          <mat-icon>email</mat-icon>
        </button>
        <div class="pl-1 pr-1">
          <h2 mat-card-widget-title>870</h2>
          <p class="mat-text-muted text-md">Opens</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-teal">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>local_offer</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>103</h2>
          <p>Campaigns</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-purple">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>phone</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>230</h2>
          <p>Customers</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-red">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>notifications</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>323</h2>
          <p>Queries</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>email</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>870</h2>
          <p>Opens</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<h5 class="mt-2">Stat Widgets Cont...</h5>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-deep-purple">
      <div mat-card-widget>
        <mat-icon>local_offer</mat-icon>
        <span fxFlex></span>
        <div class="text-xs-right">
          <h2 mat-card-widget-title>103</h2>
          <p class="text-md">Campaigns</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div mat-card-widget class="mat-deep-purple-600 text-xs-right py-xs">
        <span class="text-md block w-100">Period: 20 - 30 Sept 2017</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-light-blue">
      <div mat-card-widget>
        <mat-icon>phone</mat-icon>
        <span fxFlex></span>
        <div class="text-xs-right">
          <h2 mat-card-widget-title>230</h2>
          <p class="text-md">Customers</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div mat-card-widget class="mat-light-blue-600 text-xs-right py-xs">
        <span class="text-md block w-100">Period: 20 - 30 Sept 2017</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-blue-grey">
      <div mat-card-widget>
        <mat-icon>notifications</mat-icon>
        <span fxFlex></span>
        <div class="text-xs-right">
          <h2 mat-card-widget-title>323</h2>
          <p class="text-md">Queries</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div mat-card-widget class="mat-blue-grey-600 text-xs-right py-xs">
        <span class="text-md block w-100">Period: 20 - 30 Sept 2017</span>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <mat-icon>email</mat-icon>
        <span fxFlex></span>
        <div class="text-xs-right">
          <h2 mat-card-widget-title>870</h2>
          <p class="text-md">Opens</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div mat-card-widget class="mat-indigo-600 text-xs-right py-xs">
        <span class="text-md block w-100">Period: 20 - 30 Sept 2017</span>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-red">
      <div mat-card-widget>
        <div class="text-xs-center pl-1 pr-1">
          <h4 class="font-weight-bold">Campaigns</h4>
          <h1 class="text-xl font-weight-light">103</h1>
          <p class="text-md">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div class="text-xs-center pl-1 pr-1">
          <h4 class="font-weight-bold">Customers</h4>
          <h1 class="text-xl font-weight-light">230</h1>
          <p class="text-md">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-orange">
      <div mat-card-widget>
        <div class="text-xs-center pl-1 pr-1">
          <h4 class="font-weight-bold">Queries</h4>
          <h1 class="text-xl font-weight-light">323</h1>
          <p class="text-md">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-green">
      <div mat-card-widget>
        <div class="text-xs-center pl-1 pr-1">
          <h4 class="font-weight-bold">Opens</h4>
          <h1 class="text-xl font-weight-light">870</h1>
          <p class="text-md">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<h5 class="mt-2">Chart Widgets</h5>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <div class="small-chart mat-green-300 py-2">
        <div>
          <ngx-charts-line-chart
            class="chart-container"
            [scheme]="colorSchemeSmallChart"
            [schemeType]="schemeType"
            [results]="dateDataSmallChartRange"
            [legend]="showLegend"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="false"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [curve]="curveSmallChart"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="true"
            [tooltipDisabled]="true"
            (select)="select($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
      <mat-card-footer class="w-100 ma-0 text-xs-center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pa-xs">
          <div fxFlex>
            <div class="text-md mat-text-muted">Daily Sales</div>
            <h3 class="my-0">$ 89.34</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Weekly Sales</div>
            <h3 class="my-0">$ 498.00</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Monthly Sales</div>
            <h3 class="my-0">$ 34,903</h3>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <div class="small-chart mat-brown-300 py-2">
        <div>
          <ngx-charts-bar-vertical
            class="chart-container"
            [scheme]="colorSchemeSmallChart"
            [schemeType]="schemeType"
            [results]="single"
            [gradient]="false"
            [xAxis]="false"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)"
            (legendLabelClick)="onLegendLabelClick($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
      <mat-card-footer class="w-100 ma-0 text-xs-center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pa-xs">
          <div fxFlex>
            <div class="text-md mat-text-muted">Daily Sales</div>
            <h3 class="my-0">$ 89.34</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Weekly Sales</div>
            <h3 class="my-0">$ 498.00</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Monthly Sales</div>
            <h3 class="my-0">$ 34,903</h3>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <div class="small-chart mat-blue-grey-300 py-2">
        <div>
          <ngx-charts-pie-chart
            class="chart-container"
            [scheme]="colorScheme"
            [results]="single"
            [legend]="showLegend"
            [explodeSlices]="explodeSlices"
            [labels]="showLabels"
            [doughnut]="doughnut"
            [arcWidth]="arcWidth"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
      <mat-card-footer class="w-100 ma-0 text-xs-center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pa-xs">
          <div fxFlex>
            <div class="text-md mat-text-muted">Daily Sales</div>
            <h3 class="my-0">$ 89.34</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Weekly Sales</div>
            <h3 class="my-0">$ 498.00</h3>
          </div>
          <div fxFlex>
            <div class="text-md mat-text-muted">Monthly Sales</div>
            <h3 class="my-0">$ 34,903</h3>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<h5 class="mt-2">Detail Widgets</h5>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="column wrap">
      <div fxFlex="100">
        <mat-card class="card-widget mat-purple">
          <div mat-card-widget>
            <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
              <div>
                <h1 class="text-xxl mt-0 mb-0">
                  <mat-icon class="block text-xxl w-auto h-auto">cloud</mat-icon>
                </h1>
              </div>
              <div fxFlex class="mx-1 text-xs-right">
                <h1 class="mt-0 mb-0">6 &deg;</h1>
                <h5 class="mt-0 mb-0">Saturday 2:00 AM</h5>
                <p class="text-md mt-0 mb-0">Mostly Sunny</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="100">
        <mat-card class="card-widget">
          <div mat-card-widget>
            <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
              <div>
                <img src="assets/images/face1.jpg" class="block radius-circle" width="60" height="60">
              </div>
              <div fxFlex class="mx-1 text-xs-right">
                <h1 class="mt-0 mb-0">Envato</h1>
                <h5 class="mt-0 mb-0">hello@example.com</h5>
                <p class="mat-text-muted text-md mt-0 mb-0">Administrator</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="100">
        <mat-card class="card-widget mat-yellow">
          <div mat-card-widget>
            <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
              <div>
                <mat-icon class="block text-xxl w-auto h-auto">filter_hdr</mat-icon>
              </div>
              <div fxFlex class="mx-1 text-xs-right">
                <h2 class="mt-0 mb-0">Warning!</h2>
                <h5 class="mt-0 mb-0">Error Code 404</h5>
                <p class="mat-text-muted text-md mt-0 mb-0">Item Not Found</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-title>Newsfeed</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <mat-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="messages">
          <mat-list-item>
            <img mat-list-avatar src="{{item.photo}}" alt="">
            <h3 matLine> {{item.from}} </h3>
            <p matLine> {{item.subject}} - {{item.message}} </p>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <div class="card-image-header bg-image bg-image-signup" style="height: 213px;"></div>
      <mat-card-content class="text-xs-center">
        <div fxLayout="row wrap" class="text-uppercase">
          <div fxFlex="33.33%">
            <h2 class="mt-0 mb-0">24</h2>
            <p class="mt-0 mb-0 text-md mat-text-muted">Comments</p>
          </div>
          <div fxFlex="33.33%">
            <h2 class="mt-0 mb-0">45</h2>
            <p class="mt-0 mb-0 text-md mat-text-muted">Likes</p>
          </div>
          <div fxFlex="33.33%">
            <h2 class="mt-0 mb-0">984</h2>
            <p class="mt-0 mb-0 text-md mat-text-muted">Shares</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="column wrap">
      <div>
        <mat-card>
          <mat-card-header>
            <img matCardAvatar src="assets/images/avatar.jpg">
            <mat-card-subtitle>Yesterday</mat-card-subtitle>
            <mat-card-title>Gerald Morris</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/images/material/6.jpg">
          <mat-card-content>
            <button mat-fab mat-fab-card-float class="mr-1" color="warn"><mat-icon>share</mat-icon></button>
            <p class="ma-0">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</p>
          </mat-card-content>
          <hr>
          <mat-card-actions>
            <div fxLayout="row">
              <button mat-icon-button>
                <mat-icon>share</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
              </button>
              <span fxFlex></span>
              <button mat-button>More info</button>
              <button mat-button>Download</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card class="overflow-hidden">
          <mat-card-title>
            <span>User Uploaded Images</span>
          </mat-card-title>
          <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let id of images" rowHeight="4:3">
              <img src="assets/images/unsplash/{{ id }}.jpg" alt="Card image cap"/>
              <mat-grid-tile-footer>
                <span>Gallery image {{ id }}</span>
              </mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="column wrap">
      <div fxFlex>
        <mat-card class="overflow-hidden">
          <agm-map mat-card-image [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false"></agm-map>
        </mat-card>
      </div>
      <div fxFlex>
        <mat-card>
          <mat-card-content class="pb-0">
            <div fxLayout="row" class="mb-1">
              <div fxFlex>
                <h2 class="mt-0 mb-0">London, UK</h2>
                <h4 class="mt-0 mb-0">Saturday 2:00 AM</h4>
                <p class="mat-text-muted mt-0 mb-0">Mostly Sunny</p>
              </div>
              <span fxFlex></span>
              <div fxFlex class="text-xs-right">
                <h1 class="text-xxl mt-0 mb-0">
                  <span>6<sup>&deg;</sup></span>
                </h1>
              </div>
            </div>
            <div fxLayout="row" layout-align="center" class="mb-1 text-md">
              <div class="pr-1" fxFlex>
                <div fxLayout="row">
                  <span>Pressure</span>
                  <span fxFlex></span>
                  <span>30.09</span>
                  <span>hPa</span>
                </div>

                <div fxLayout="row">
                  <span>Visibility</span>
                  <span fxFlex></span>
                  <span>11.27</span>
                  <span>km</span>
                </div>

                <div fxLayout="row">
                  <span>Light</span>
                  <span fxFlex></span>
                  <span>0.00</span>
                </div>

                <div fxLayout="row">
                  <span>Light</span>
                  <span fxFlex></span>
                  <span>16</span>
                  <span>C</span>
                </div>
              </div>
              <div class="pl-1" fxFlex>
                <div fxLayout="row">
                  <span>Humidity</span>
                  <span fxFlex></span>
                  <span>94</span>
                  <span>%</span>
                </div>

                <div fxLayout="row">
                  <span>Precp.</span>
                  <span fxFlex></span>
                  <span></span>
                  <span>mm</span>
                </div>

                <div fxLayout="row">
                  <span>Snow Depth</span>
                  <span fxFlex></span>
                  <span></span>
                </div>

                <div fxLayout="row">
                  <span>Wind Gust</span>
                  <span fxFlex></span>
                  <span></span>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-indigo">
            <div fxLayout="row" class="text-xs-center">
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>call_received</mat-icon></div>
                <div class="text-md">MON</div>
                <strong class="degree-value">10</strong>
              </div>
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>call_received</mat-icon></div>
                <div class="text-md">TUE</div>
                <strong class="degree-value">8</strong>
              </div>
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>call_made</mat-icon></div>
                <div class="text-md">WED</div>
                <strong class="degree-value">6</strong>
              </div>
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>arrow_upward</mat-icon></div>
                <div class="text-md">THU</div>
                <strong class="degree-value">6</strong>
              </div>
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>call_received</mat-icon></div>
                <div class="text-md">FRI</div>
                <strong class="degree-value">9</strong>
              </div>
              <div fxFlex>
                <div class="text-md">6 km/h</div>
                <div class="text-md"><mat-icon>arrow_forward</mat-icon></div>
                <div class="text-md">SAT</div>
                <strong class="degree-value">8</strong>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
