<div fxFlex.gt.sm="100" fxFlex="100">

  <div *ngIf="storeProducts.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index;"> {{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="storeProductName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Product Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.serial_product }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index" id="actionsIcon">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <!--<button mat-icon-button (click)="partnerList()">-->
            <!--<mat-icon matTooltip="see product's partner">person</mat-icon>-->
          <!--</button>-->
          <button mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

    <div class="ma-1">
      <a [routerLink]="['/store-product/store-product-create']" *ngIf="storeProducts.length > 0">
        <button mat-raised-button color="primary">Add Product to Store
          <mat-icon>add_box</mat-icon>
        </button>
      </a>
    </div>

  </div>

  <div class="info-text mat-body-1" *ngIf="storeProducts.length == 0">
  <p>You don't have any product in store. Click the button below to add product into store. </p>
    <a [routerLink]="['/store-product/store-product-create']">
      <button mat-small mat-raised-button color="primary">
        Add Product to Store
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </div>

</div>
