<div fxFlex.gt.sm="100" fxFlex="100">
  <mat-card>
    <mat-toolbar class="text-base">Product Type</mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="createProductType()" #productTypeForm="ngForm">
      <mat-card-content>
        <div class="form-group" fxLayout="column" fxLayoutGap="25px">

          <mat-form-field>
            <input matInput placeholder="Product Type Name" type="text" formControlName="title" required>
            <mat-error>Please fill in the product type title.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select Company" formControlName="company" required>
              <mat-option *ngFor="let company of companies; let i = index;" [value]="company._id">
                {{ company.title }}
              </mat-option>
            </mat-select>
            <mat-error>Please select company.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>

          <div class="pb-2">
            <mat-label>Status</mat-label>
            <mat-radio-group formControlName="enable">
              <mat-radio-button value="true">Enable</mat-radio-button>
              <mat-radio-button value="false">Unable</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-card-footer>
            <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
            <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
          </mat-card-footer>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
