<div fxFlex.gt.sm="100" fxFlex="100">
    <mat-card>
        <mat-toolbar>
            Create New Car Type
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="form" (submit)="createNewCarType()">
                <div class="form-group" fxLayout="column" fxLayoutGap="25px">

                    <mat-form-field>
                        <input matInput placeholder="Title" type="text" formControlName="title">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Description" type="text" formControlName="description">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Company" formControlName="company"
                                    (change)="pickedCompany($event.value)" required>
                            <mat-option *ngFor="let company of companies; let i = index;" [value]="i">
                                {{ company.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Pleas e select company.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Partner" formControlName="partners" [required]="form.get('company').value">
                            <mat-option *ngFor="let partner of partners;" [value]="partner._id">
                                {{ partner.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Please select company first.</mat-error>
                    </mat-form-field>

                    <mat-label>Distance</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Number" type="text" formControlName="number">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Price" type="text" formControlName="price">
                    </mat-form-field>

                    <mat-label>Dimension</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="weight" type="text" formControlName="weight">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="long" type="text" formControlName="long">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="height" type="text" formControlName="height">
                    </mat-form-field>

                    <div class="pb-2">
                        <mat-label>Status</mat-label>
                        <mat-radio-group formControlName="enable">
                            <mat-radio-button value="true">Enable</mat-radio-button>
                            <mat-radio-button value="false">Unable</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-card-footer>
                        <button mat-raised-button color="primary" id="submitBtn" type="submit">Submit</button>
                        <button mat-raised-button id="backBtn" type="button" (click)="back()">Back</button>
                    </mat-card-footer>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>