<div fxFlex.gt.sm="100" fxFlex="100">

  <mat-toolbar><a class="toolbarText">{{companyName}}</a> &nbsp; User Member
    <div class="ma-1" style="display: inline-flex;">
        <mat-icon style="cursor: pointer;" color="primary" matTooltip="add member" (click)="addUser()">add_box</mat-icon>
    </div>
  </mat-toolbar>

  <div *ngIf="companies.length > 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index;">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
          Name
        </mat-header-cell>

        <mat-cell *matCellDef="let element; let i = index;">
          {{element.by.userinfo.firstname}}&nbsp;{{element.by.userinfo.lastname}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let element" class="element"> {{element.by.userinfo.msisdn}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title"> Email</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" class="element"> {{element.by.userinfo.email}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

    </mat-table>

  </div>

  <p class="info-text mat-body-1" *ngIf="companies.length == 0">
    No user member.<br>
    <a [routerLink]="['/company/company-invite-user']">
      <button mat-small mat-raised-button color="primary">
        Add New User
        <mat-icon>add_box</mat-icon>
      </button>
    </a>
  </p>
</div>
